<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Group</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="done()">Create</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="group">
      <ion-row>
        <ion-col>
          <div class="cover-wrapper">
            <img src="{{group.img}}" *ngIf="group.img != ''" tappable (click)="setGroupPhoto()"
          onError="this.src='./assets/images/default-group.png'" />
        <img src="{{group.img}}"
          onError="this.src='./assets/images/default-group.png'" *ngIf="group.img == ''" tappable
          (click)="setGroupPhoto()" />
            </div>
        </ion-col>
        </ion-row>
      <ion-row>
        <ion-col> 
        <form [formGroup]="myForm">
          <ion-list style="margin:0;" lines="none">
            <ion-item class="input-item">
              <ion-label position="stacked">Title:</ion-label>
              <ion-input formControlName="groupName" type="text" [(ngModel)]="name" placeholder="Name of Group">
              </ion-input>
            </ion-item>
            <ion-item class="input-item">
              <ion-label position="stacked">Image Path:</ion-label>
              <ion-input formControlName="img" type="text" [(ngModel)]="img" placeholder="Image Path">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Description</ion-label>
              <ion-textarea formControlName="groupDescription" rows="3" [(ngModel)]="description"
                placeholder="Describe this Group"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Group Tags</ion-label>
              <ion-textarea formControlName="groupTags" rows="3" [(ngModel)]="groupTags"
                placeholder="Add Group Tags in each line."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Category</ion-label>
              <ion-label>{{category.text}}</ion-label>
              <ion-button (click)="showPicker()">
                Select Category
            </ion-button>

            </ion-item>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </div>
</ion-content>