<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end"> 
		<ion-button *ngIf="loggedInUserIsMember == true" (click)="newResource()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contact-card-content"> 
  <div *ngIf="resource.type == 'contact'" >
  <ion-row class="user-details-wrapper">
   
    <ion-col class="user-info-wrapper" size="12">
      <h3 class="user-name">{{resource.name}}</h3>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="user-stat-value">1553</span>
      <span class="user-stat-name">Pins</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="user-stat-value">{{reviews.length}}</span>
      <span class="user-stat-name">comments</span>
    </ion-col>

  </ion-row>
  <ion-row class="user-preferences-wrapper">
    <ion-col size="12">
      <h4 class="preference-name">Address</h4>
      <p class="preference-value">
        {{resource.address}}
      </p>
    </ion-col>
    <br/>
    <ion-col size="12">
      <h4 class="preference-name">Email</h4>
      <p class="preference-value">
        {{resource.email}}
      </p>
    </ion-col>
    <br/>
    <ion-col size="12">
      <h4 class="preference-name">Mobile</h4>
      <p class="preference-value">
        {{resource.phones}}
      </p>
    </ion-col>

  </ion-row>

  <hr class="details-divider">
  <div class="reviews-wrapper">
    <h3 class="detail-title">Selected Tags</h3>
 
      <ion-row class="checkbox-tags rounded-checkbox-tags user-preferences-wrapper">
    <ion-item  *ngFor="let entry of resource.resourceTags" lines="none" class="checkbox-tag rounded-tag">
      <div>
        <ion-label class="tag-label">{{entry.val}}</ion-label>
      <ion-checkbox [(ngModel)]="entry.isChecked" disabled="true"></ion-checkbox>
    </div>
    </ion-item>
  </ion-row>
</div>

  <hr class="details-divider">
  <div class="reviews-wrapper">
    <h3 class="detail-title">Reviews</h3>
    <ion-buttons slot="end"> 
      <ion-button (click)="openReviewModal()" ><ion-icon name="create"></ion-icon></ion-button>
      </ion-buttons>
    <div class="reviews-list">
      <div class="review-item" *ngFor="let review of reviews">
        <ion-row class="review-user">
          <ion-col size="2" class="user-image-wrapper">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="review-user-image" [src]="'./assets/sample-images/food/user-image-1.png'" [alt]="'review user image'"></app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="user-brief-wrapper">
            <h5 class="review-user-name">
              <app-text-shell [data]="review.addedByUsername"></app-text-shell>
            </h5>
            <ion-row class="details-scores user-scores">
              <ion-col class="score-item user-score">
                <ion-icon class="score-icon" src="./assets/sample-icons/food/reviews.svg"></ion-icon>
                <div class="score-value">
                  <app-text-shell [data]="10"></app-text-shell>
                </div>
                <span class="score-title">Reviews</span>
              </ion-col>
              <ion-col class="score-item user-score">
                <ion-icon class="score-icon" src="./assets/sample-icons/food/points.svg"></ion-icon>
                <div class="score-value">
                  <app-text-shell [data]="2"></app-text-shell>
                </div>
                <span class="score-title">Points</span>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="review-info-wrapper">
            <span class="review-date">
              <app-text-shell [data]="review.dateCreated | DateFormat"></app-text-shell>
            </span>
            <div class="review-rating" [attr.ratingBase]="review.rating">
              <app-text-shell [data]="review.rating"></app-text-shell>
            </div>
          </ion-col>
        </ion-row>
        <p class="review-message">
          <app-text-shell [data]="review.review" lines="5"></app-text-shell>
        </p>
      </div>
    </div>

  </div>

 
</div>

</ion-content>
