<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons *ngIf="step==2" slot="end">
      <ion-button color="secondary" class="ion-text-capitalize" [disabled]="!postForm.valid" (click)="submitPostForm()">Post</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content class="forms-validations-content">
  <div *ngIf="step==1"> 
    <div *ngIf="groups && groups.length > 0">
      <ion-list>
        <ion-item text-wrap *ngFor="let group of groups" (click)="selectGroup(group.key)">
          <ion-thumbnail slot="start">
            <img src="{{group.img}}" onError="this.src='./assets/images/default-group.png'">
          </ion-thumbnail>
          <ion-label>
              <b>{{group.name}}</b><br/>
              {{group.description}}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div *ngIf="step==2">
  <form class="validations-form" [formGroup]="postForm" (ngSubmit)="submitPostForm()">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header class="header">
        posting in &nbsp;<ion-label><b>{{group.name}}</b></ion-label>
      </ion-list-header>
      <ion-item class="input-item">
        <ion-input type="text" formControlName="title" placeholder="Subject"></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-textarea rows="6"  formControlName="message" clearInput placeholder="Message"></ion-textarea>
      </ion-item>
      <ion-list class="inputs-list" lines="full">
        <ion-list-header>
          <ion-label class="header-title">Select relevant tags</ion-label>
        </ion-list-header>
        <div class="reviews-wrapper">
        <ion-row>
          <div class="tags" formArrayName="tags" *ngFor="let entry of postForm.controls.tags.controls; let i = index">
            <ion-label *ngIf="postTags[i] === undefined || !postTags[i].isChecked" class="item-rating" [attr.ratingBase]="0">{{postTags[i].val}}</ion-label>
            <ion-label *ngIf="postTags[i] !== undefined && postTags[i].isChecked" class="item-rating" [attr.ratingBase]="1">{{postTags[i].val}}</ion-label>  
            <ion-checkbox slot="start" [formControlName]="i" [(ngModel)]="postTags[i].isChecked"></ion-checkbox>
          </div>
        </ion-row>

        <div class="error-container">
          <ng-container *ngFor="let validation of validations.tags">
            <div class="error-message" *ngIf="postForm.get('tags').hasError(validation.type) && (postForm.get('tags').dirty || postForm.get('tags').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        </div>
      </ion-list>

    <!-- <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!postForm.valid" >Submit</ion-button> -->
    </ion-list>
  </form>
</div>
</ion-content>
<ion-footer *ngIf="step==2">
  <ion-toolbar>
    <ion-row lines="none" class="uploads item-text-wrap" *ngIf="reviewMedia && reviewMedia.length > 0">
      <div class="img-wrap" *ngFor="let media of reviewMedia">
          <ion-thumbnail slot="start">
            <span class="close" (click)="removeMedia(media)">&times;</span>
            <ion-img [src]="media">
            </ion-img>
          </ion-thumbnail>
        </div>
    </ion-row>
    <ion-item lines="none">
      <ion-button class="ion-text-capitalize" fill="clear" (click)="attach()">
        <ion-icon class="ion-padding-end" size="large" name="camera-outline"></ion-icon>Add photo or video
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
