<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>  

<ion-content class="forms-validations-content">
  <div *ngIf="step==1">
    <div *ngIf="groups && groups.length > 0">
      <ion-list lines="none">
        <ion-item *ngFor="let group of groups" (click)="selectGroup(group.$key)">
          <ion-thumbnail slot="start">
            <img src="{{group.img}}" onError="this.src='./assets/images/default-group.png'">
          </ion-thumbnail>
          <ion-label>
            <ion-text>
              <h2>{{group.name}}</h2>
            </ion-text>
            <ion-text>
              <p>created {{group.dateCreated.toDate() | DateFormat}}</p>
            </ion-text>
          </ion-label>
          <ion-badge slot="end" color="danger" *ngIf="group.unreadMessagesCount > 0">{{group.unreadMessagesCount}}
          </ion-badge>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div *ngIf="step==2">
  <form class="validations-form" [formGroup]="postForm" (ngSubmit)="submitPostForm()">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">{{group.name}}</ion-label>
      </ion-list-header>
      <ion-item class="input-item">
        <ion-label position="floating">Title:</ion-label>
        <ion-input type="text" formControlName="title" clearInput placeholder="Enter the subject"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.title">
          <div class="error-message" *ngIf="postForm.get('title').hasError(validation.type) && (postForm.get('title').dirty || postForm.get('title').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-label position="floating">Message:</ion-label>
        <ion-textarea rows="6"  formControlName="message" clearInput placeholder="Enter the message"></ion-textarea>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.message">
          <div class="error-message" *ngIf="postForm.get('message').hasError(validation.type) && (postForm.get('message').dirty || postForm.get('message').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-list class="inputs-list" lines="full">
        <ion-list-header>
          <ion-label class="header-title">Select relevant tags</ion-label>
        </ion-list-header>
  
        <div class="reviews-wrapper">
        <ion-row>
          <div class="tags" formArrayName="tags" *ngFor="let entry of postForm.controls.tags.controls; let i = index">
            <ion-label *ngIf="postTags[i] === undefined || !postTags[i].isChecked" class="item-rating" [attr.ratingBase]="0">{{postTags[i].val}}</ion-label>
            <ion-label *ngIf="postTags[i] !== undefined && postTags[i].isChecked" class="item-rating" [attr.ratingBase]="1">{{postTags[i].val}}</ion-label>  
            <ion-checkbox slot="start" [formControlName]="i" [(ngModel)]="postTags[i].isChecked"></ion-checkbox>
          </div>
        </ion-row>

        <div class="error-container">
          <ng-container *ngFor="let validation of validations.tags">
            <div class="error-message" *ngIf="postForm.get('tags').hasError(validation.type) && (postForm.get('tags').dirty || postForm.get('tags').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        </div>
      </ion-list>

    <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!postForm.valid" >Submit</ion-button>
    </ion-list>
  </form>
</div>
</ion-content>
