:host {
  --page-margin: var(--app-narrow-margin);
}

.forms-validations-content {
   .validations-form {
    margin-bottom: calc(var(--page-margin) * 2);

    .inputs-list {
      padding: var(--page-margin) var(--page-margin) calc(var(--page-margin) * 2);

      .header {
        font-size: 14px;
      }
      .error-container {
        .error-message {
          margin: calc(var(--page-margin) / 2) 0px;
          display: flex;
          align-items: center;
          color: var(--ion-color-danger);
          font-size: 14px;

          ion-icon {
            padding-inline-end: calc(var(--page-margin) / 2);
            flex-shrink: 0;
          }
        }
        }
    }

    .submit-btn {
      margin: var(--page-margin);
    }
  }

  .tags {
    padding-right: 5px;
    padding-bottom: 5px;
  .item-rating {
    // Default background
    background-color: rgba(var(--page-color-rgb), .35);
            color: var(--ion-color-lightest);
            border-radius: var(--app-narrow-radius);
            padding-top: calc(var(--page-margin) / 3);
            padding-bottom: calc(var(--page-margin) / 3);
            padding-left: calc(var(--page-margin) / 2);
            padding-right: calc(var(--page-margin) / 2);
            font-size: 12px;
            font-weight: 600;
            width: 100%;
            display: block;
            text-align: center;
            &[ratingBase="0"] {
              background-color: #bbb2b2;
            }
            &[ratingBase="1"] {
              background-color: #e0c77c;
            }
  }
  ion-checkbox {
    margin: 0px;
    width: 50px;
    align-content: center;
    --border-width: 0px;
    --color-checked: transparent;
    margin-left: 9px;
    margin-top: -20px;
    display:block;
    opacity: 0;
  }
  
}
}

.uploads {
  margin: 5px;
.img-wrap {
  position: relative;
  display: inline-block;
  font-size: 0;
  padding: 5px;
}
.img-wrap .close {
  position: absolute;
  top: -2px;
  right: -7px;
  z-index: 100;
  background-color: #FFF;
  padding: 5px 2px 2px;
  color: #000;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
}
.img-wrap:hover .close {
  opacity: 1;
}
}

