<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add a Post</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="postForm" (ngSubmit)="submitPostForm()">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Create a Post ..</ion-label>
      </ion-list-header>
      <ion-item class="input-item">
        <ion-label position="floating">Title:</ion-label>
        <ion-input type="text" formControlName="title" clearInput placeholder="Enter the subject"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.title">
          <div class="error-message" *ngIf="postForm.get('title').hasError(validation.type) && (postForm.get('title').dirty || postForm.get('title').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-label position="floating">Message:</ion-label>
        <ion-textarea rows="6"  formControlName="message" clearInput placeholder="Enter the message"></ion-textarea>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.address">
          <div class="error-message" *ngIf="postForm.get('message').hasError(validation.type) && (postForm.get('message').dirty || postForm.get('message').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>


    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Select tags relevant for the post</ion-label>
      </ion-list-header>

      <ion-row class="checkbox-tags rounded-checkbox-tags">
        <ion-item *ngFor="let entry of postTags" lines="none" class="checkbox-tag rounded-tag">
          <ion-label class="tag-label">{{entry.val}}</ion-label>
          <ion-checkbox formControlName="postTags" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-row>
    </ion-list>

    <ion-button class="submit-btn" type="submit" expand="block" fill="outline" >Submit</ion-button>
    </ion-list>
  </form>
</ion-content>
