:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
}

.group-info {
  width: 100%;
}

.group-img {
 padding-top: var(--page-margin);
}

.save {
  height: 25px;
  width: 100%;
  text-transform: initial !important;
}

.toggle-text {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.profile-summary-name {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica-Bold', 'Roboto-Medium', 'Segoe UI Semibold', Arial-Bold, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin: 4px 0;
  display: inline-block;
}

.profile-component-title {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', Helvetica-Bold, 'Roboto-Medium', 'Segoe UI Semibold', Arial-Bold, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.addedByDate {
font-style: italic;
font-size: 12px;
}

.logout {
  text-transform: capitalize !important;
}

.link {
color: #007B99;
text-decoration: none;
}

.activities {
padding-bottom: 20px;
.activities-item {
height: 30px;
}

}

       
  .tags {
    padding-right: 5px;

  .item-rating {
    // Default background
    background-color: rgba(var(--page-color-rgb), .35);
    padding-left: var(--page-margin);
    padding-right: calc(var(--page-margin) / 2);
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: left;
    color: #aa6c39;
  }

  }