<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="group">{{group.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="group"> 
    <ion-row padding> 
      <div class="group-info">
        <div class="group-img">
          <img src="{{group.img}}">
        </div>
        <div class="group-name">    
          {{group.name}}
        </div>
        <div class="group-desc">
          {{group.description}}
        </div>
        <div class="group-name"> 
          Group Tags
          </div>
          <div class="group-tags">
            <ion-row>
              <div class="tags" *ngFor="let tag of group.groupTags">
                <span class="item-rating" [attr.ratingBase]="1">#{{tag}}</span>
              </div>
            </ion-row>
          </div>
        <div>
          <ion-button expand="block" color="secondary" (click)="leaveGroup()" *ngIf="groupMembers && groupMembers.length > 1">Leave Group
          </ion-button>
        </div> 
   </div>
 
    </ion-row>
    <ion-list *ngIf="groupMembers" lines="none">
      <ion-item>
        <ion-label>
          <ion-text>
            Group Members ({{groupMembers.length}})
          </ion-text>
        </ion-label>
        <ion-button slot="end" (click)="addMembers()" fill="outline">Add</ion-button>
      </ion-item>
      <ion-item *ngFor="let member of groupMembers" (click)="viewUser(member.$key)">
        <ion-avatar slot="start">
          <img src="{{member.img}}" onError="this.src='./assets/images/default-dp.png'" />
        </ion-avatar>
        <ion-label>
          <ion-text>
            <h2>{{member.name}}</h2>
          </ion-text>
          <ion-text>
            <p>{{member.description}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>