<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="group">{{group.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="group">
      <ion-row>
        <ion-col size=3>
        <div class="group-img"> 
          <img src="{{group.img}}" onError="this.src='./assets/images/default-dp_rect.png'">
        </div>
      </ion-col>
      <ion-col size=9>
        <div>
          <ion-item lines="none">
          <ion-text class="profile-summary-name">{{group.name}}</ion-text>
        </ion-item>
      </div>
        <div class="ion-no-border">
          <ion-item class="toggle-text" lines="none">
            <ion-text>{{group.description}}</ion-text>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-item-divider class="profile-component-title">Group Tags</ion-item-divider>
    <ion-list lines="none">
      <div class="tags" *ngFor="let tag of group.groupTags">
        <span class="item-rating">#{{tag}}</span>
      </div>
     </ion-list>
     <ion-item-divider class="profile-component-title">Activity</ion-item-divider>
     <ion-list class="activities" lines="none" > 
      <ion-item *ngIf="groupPosts.length == 0" class="toggle-text">
       <ion-label>No Group Activity</ion-label>
      </ion-item>
      <ion-item class="toggle-text activities-item"  *ngFor="let item of groupPosts">
        New post: <a class="link" [routerLink]="['/post', item.key]"> "{{item.title}}"</a>
      <ion-text slot="end" class="addedByDate">{{item.date.toDate() | date:'mediumDate'}}</ion-text>  
    </ion-item>
     </ion-list>

    <ion-item-divider class="profile-component-title">Group Members:</ion-item-divider>
    <ion-list lines="none">
      <ion-list lines="none">
        <ion-item  *ngIf="groupMembers.length == 0" class="toggle-text">
          <ion-label>Build a community, invite others to join</ion-label>
        </ion-item>  
        <ion-item text-wrap *ngFor="let member of groupMembers" (click)="viewUser(member.key)">
          <ion-avatar slot="start">
            <ion-img src="{{member.img}}"></ion-img>
          </ion-avatar>
          <ion-label class="toggle-text">
              <ion-label class="ion-no-padding">{{member.username}}<br/>
              {{member.description}}</ion-label>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
 </div>
<ion-row *ngIf="myProfile">
  <div class="ion-padding save">
    <ion-button expand="block" color="secondary">Leave Group</ion-button>
  </div>
</ion-row>
</ion-content>