:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background);
  
    --page-color: #00AFFF;
  }

.tab-title {
  font-size: 12px;
}
.listing-item {
    padding: 0px 0px var(--page-margin);
    background-color: var(--page-background);
    border-bottom: calc(var(--page-margin) / 2) solid var(--page-color);
  .subtitle img {
      height: 30px;
      vertical-align:middle;
    }
  .message {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0 0 8px;
    overflow: hidden;
    padding-right: 20px;
    text-overflow: ellipsis;
  }

  
    .info-row {
      --ion-grid-column-padding: 0px;
  
      padding: var(--page-margin);
      padding-bottom: calc(var(--page-margin) / 2);
  
      .main-info-col {
        padding-right: calc(var(--page-margin) / 2);
        line-height: 1;
      }
      poll-option-col {
        padding-right: calc(var(--page-margin) / 3);
      }
  
      .item-name {
        margin: 0px 0px var(--page-margin);
        text-transform: capitalize;
        font-size: 16px;
  
        .name-anchor {
          color: var(--ion-color-dark);
          display: block;
          text-decoration: none;
        }
      }
  
      .item-description {
        margin: 0px 0px calc(var(--page-margin) / 2);
        color: var(--ion-color-dark-shade);
        font-size: 14px;
        line-height: 1.3;
      }
  
      .item-address {
        margin: 0px 0px calc(var(--page-margin) / 2);
        color: var(--ion-color-dark-tint);
        font-size: 14px;
        line-height: 1.3;
      }
      .item-tags {
        margin: 0px 0px calc(var(--page-margin) / 2);
        color: var(--ion-color-dark-tint);
        font-size: 14px;
        line-height: 1.3;
      }
    }
  
    .stats-row {
      --ion-grid-column-padding: 0px;
  
      padding: 0px var(--page-margin);
      justify-content: flex-end;
  
      .stats-icon {
        font-size: 24px;
      }
  
      .item-rating {
        display: inline-flex;
        text-align: center;
        justify-content: flex-end;
        margin-right: 10px;
  
        .rating-value {
          font-size: 16px;
          margin-right: 5px;
          margin: auto;
        }
      }
  
      .item-reviews {
        display: inline-flex;
        text-align: center;
        justify-content: flex-end;
  
        .reviews-count {
          font-size: 16px;
          margin-right: 5px;
          margin: auto;
        }
      }
    }
  }