<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title (click)="groupInfo()">{{title}}</ion-title>
    <ion-buttons slot="end"> 
      <ion-button *ngIf="loggedInUserIsMember == true" (click)="showGroupOptions()" ><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
   <!-- <ion-button *ngIf="loggedInUserIsMember == false" (click)="joinGroup()" >Join Group</ion-button>
    <ion-button *ngIf="loggedInUserIsMember == true && tab=='posts'" (click)="newPost()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    <ion-button *ngIf="loggedInUserIsMember == true && tab=='polls'" (click)="newPoll()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
		<ion-button *ngIf="loggedInUserIsMember == true && tab=='resources'" (click)="newResource()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
		<ion-button *ngIf="loggedInUserIsMember == true && tab=='events'" (click)="newEvent()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
	--></ion-buttons>

  </ion-toolbar>

  <ion-segment padding [(ngModel)]="tab" (ionChange)="segmentChanged($event)">
		<!-- <ion-segment-button value="group">
  			<ion-icon name="chatbubbles"></ion-icon>
    </ion-segment-button> -->
    <ion-segment-button value="posts">
      <ion-icon name="chatbubbles"></ion-icon>
      <span class="tab-title">Posts</span>
    </ion-segment-button>
		<ion-segment-button value="polls">
      <ion-icon name="podium"></ion-icon>
      <span class="tab-title">Polls</span>
		</ion-segment-button>
		<ion-segment-button value="resources">
      <ion-icon name="library"></ion-icon>
      <span class="tab-title">Resources</span>
    </ion-segment-button>
    <ion-segment-button value="events">
      <ion-icon name="calendar"></ion-icon>
      <span class="tab-title">Events</span>
    </ion-segment-button>
	<!--	<ion-segment-button value="groupInfo">
      <ion-icon layout="icon-end" name="ellipsis-vertical"></ion-icon>
		</ion-segment-button>
--></ion-segment>
</ion-header>

<ion-content>
  <div [ngSwitch]="tab" >
    <!-- <div *ngSwitchCase="'group'" >
  <div class="messages" #content>
    <p class="center" *ngIf="startIndex > 0"><span tappable (click)="loadPreviousMessages()">Load previous
        messages</span></p>
    <div *ngFor="let message of messagesToShow">
    
      <div *ngIf="isSystemMessage(message)" style="text-align:center; float: left; color:#ccc">
        <p>
          <ion-icon name="{{message.icon}}"></ion-icon>
          {{message.message}} {{message.date | DateFormat}}
        </p>
      </div>
 
      <div *ngIf="isSender(message) && !isSystemMessage(message)" class="chatbox right" (press)="onPress($event)" (pressup)="onPressUp($event,message)">

        <div *ngIf="isSender(message) && !isSystemMessage(message)">
          <div class="right" *ngIf="message.type == 'text'"  (press)="onPress($event)" (pressup)="onPressUp($event,message)">
            <p>{{message.message}}</p>
            <span>{{message.date | DateFormat}}</span>
          </div>
          <div class="right" *ngIf="message.type == 'location'" [innerHtml]="message.message"></div>
          <div class="right" *ngIf="message.type == 'contact'" [innerHtml]="message.message"></div>
          <div class="right" *ngIf="message.type == 'image'">
            <img tappable (click)="enlargeImage(message.url)" src="{{message.url}}" (load)="doScroll()"
              onError="this.src='./assets/images/default-dp.png'" />
            <span>{{message.date | DateFormat}}</span>
          </div>
          <div *ngIf="message.type == 'video'">
            <video controls width="100%">
              <source src="{{message.message}}" type="video/mp4">
            </video>
          </div>
        </div>
      </div>

      <div *ngIf="!isSender(message) && !isSystemMessage(message)" class="chatbox left">
        <img src="{{message.avatar}}" tappable (click)="viewUser(message.sender)" (load)="doScroll()"
          onError="this.src='./assets/images/default-dp.png'" style="height:30px; border-radius: 100%;float:left;" />
        <div class="left" *ngIf="message.type == 'text'">
          <p>{{message.message}}</p>
          <span>{{message.date | DateFormat}}</span>
        </div>
        <div class="left" *ngIf="message.type == 'location'" [innerHtml]="message.message"></div>
        <div class="left" *ngIf="message.type == 'contact'" [innerHtml]="message.message"></div>
        <div class="left" *ngIf="message.type == 'image'">
          <img tappable (click)="enlargeImage(message.url)" src="{{message.url}}"
            onError="this.src='./assets/images/default-dp.png'" (load)="doScroll()" />
          <span>{{message.date | DateFormat}}</span>
        </div>
        <div *ngIf="message.type == 'video'">
          <video controls width="100%">
            <source src="{{message.message}}" type="video/mp4">
          </video>
        </div>
      </div>

    </div>
  </div>
  </div> -->

  
  <div *ngSwitchCase="'posts'">
    <!-- No Posts to show -->
     <div class="empty-list" *ngIf="posts && posts.length == 0">
     <h1><ion-icon name="chatbubbles-outline"></ion-icon></h1>
     <p>No new Posts added to this group.</p>
     </div>
     <!-- Show Posts -->
     <div *ngIf="posts && posts.length > 0" >
     <div class="listing-item" *ngFor="let item of posts | reverse" >
      <ion-card>
        <ion-card-header>
           <ion-card-subtitle (click)="viewPost(item)">
            <img class="subtitle" src="{{item.avatar}}" onError="this.src='./assets/images/default-dp.png'" /> {{item.senderName}} {{item.date | DateFormat}}
            <img *ngIf="item.showNewIcon" class="newIcon" src="./assets/icon/new.svg" /> 
          </ion-card-subtitle>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="message" (click)="viewPost(item)">
          {{item.message}}
        </ion-card-content>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-buttons>
                  <ion-button class="ion-text-capitalize" (click)="submitReactionSmile(item)">
                 <div *ngIf="item.showSmiley"><ion-icon size="small" src="./assets/icon/smile-active.svg" ></ion-icon> Thanks</div> 
                 <div *ngIf="!item.showSmiley"><ion-icon size="small" src="./assets/icon/smile.svg" ></ion-icon> Thanks</div> 
                </ion-button>
                </ion-buttons> 
              </ion-col>
              <ion-col>
                <ion-buttons>
                  <ion-button class="ion-text-capitalize" (click)="submitReactionHug(item)">
                 <div *ngIf="item.showHug"><ion-icon size="small" src="./assets/icon/hug-active.svg" ></ion-icon> Hug</div> 
                 <div *ngIf="!item.showHug"><ion-icon size="small" src="./assets/icon/hug.svg" ></ion-icon> Hug</div> 
                </ion-button>
                </ion-buttons> 
              </ion-col>
              <ion-col>
              </ion-col>
              <ion-col>
              </ion-col>
              <ion-col>
                <div><ion-icon size="small" src="./assets/icon/smile-active.svg" ></ion-icon><ion-icon size="small" src="./assets/icon/hug-active.svg" ></ion-icon> {{item.totalReactionCount}}</div>
              </ion-col>
              <ion-col>
                <ion-icon size="small" src="./assets/icon/chat.svg"></ion-icon> {{item.totalReviewCount}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
     </div>
    </div>

  <div *ngSwitchCase="'polls'">
    <!-- No polls to show -->
     <div class="empty-list" *ngIf="polls && polls.length == 0">
     <h1><ion-icon name="md-chatbubbles"></ion-icon></h1>
     <p>No new polls yet.</p>
     </div>
     <!-- Show polls -->
     <div *ngIf="polls && polls.length > 0">
     <ion-searchbar [(ngModel)]="searchPoll" placeholder="Search for poll" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
     <div class="listing-item" *ngFor="let item of polls" (click)="viewPoll(item)">
      <ion-row class="info-row">
        <ion-col class="main-info-col">
          <h3 class="item-name">
              <app-text-shell animation="bouncing" [data]="(item?.name && item?.type) ? (item.name + ' - ' + item.type) : (item.name)"></app-text-shell>
          </h3>
          <p class="item-description">
            <app-text-shell animation="bouncing" [data]="item.description" lines="3"></app-text-shell>
          </p>
          <p class="item-tags">
            <app-text-shell animation="bouncing" [data]="'Tags: ' + item.pollTagsString"></app-text-shell>
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="info-row" *ngFor="let pollOption of item.pollOptions">
        <ion-col class="poll-option-col">
        <!--<button ion-button color="primary" clear small icon-start> -->
          <ion-icon size="medium" name='pie-chart-outline'></ion-icon>
          {{pollOption.name}}
        <!--</button>-->
        </ion-col>
      </ion-row>
      <ion-row class="stats-row">
        <ion-col size="2" class="item-rating">
          <span class="rating-value"> 
            <app-text-shell [data]="item.dateCreated | DateFormat"></app-text-shell>
          </span>
        </ion-col>
        <ion-col size="2" class="item-rating">
          <span class="rating-value">
            <app-text-shell [data]="2"></app-text-shell>
          </span>
          <ion-icon class="stats-icon" name="star-outline"></ion-icon>
        </ion-col>
        <ion-col size="2" class="item-reviews">
          <span class="reviews-count">
            <app-text-shell [data]="4"></app-text-shell>
          </span>
          <ion-icon class="stats-icon" name="chatbox-ellipses-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
     </div>
    </div>

    <div *ngSwitchCase="'resources'">
    <!-- No Resources to show -->
     <div class="empty-list" *ngIf="resources && resources.length == 0">
     <h1><ion-icon name="chatbubbles-outline"></ion-icon></h1>
     <p>No new Resources added to this group.</p>
     </div>
     <!-- Show Resources -->
     <div *ngIf="resources && resources.length > 0" >
     <ion-searchbar [(ngModel)]="searchResource" placeholder="Search for Resources" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
     <div class="listing-item" *ngFor="let item of resources" (click)="viewResource(item)">
      <div *ngIf="item?.type == 'contact'">
      <ion-row class="info-row">
        <ion-col class="main-info-col">
          <h3 class="item-name">
              <app-text-shell animation="bouncing" [data]="(item?.title && item?.type) ? (item.title + ' - ' + item.type) : (item.title)"></app-text-shell>
          </h3>
          <p class="item-description">
            <app-text-shell animation="bouncing" [data]="item.name" lines="3"></app-text-shell>
          </p>
          <p class="item-address">
            <app-text-shell animation="bouncing" [data]="item.address"></app-text-shell>
          </p>

          <p class="item-tags">
            <app-text-shell animation="bouncing" [data]="'Tags: ' + item.resourceTagsString"></app-text-shell>
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="stats-row">
        <ion-col size="2" class="item-rating">
          <span class="rating-value"> 
            <app-text-shell [data]="item.dateCreated | DateFormat"></app-text-shell>
          </span>
        </ion-col>
        <ion-col size="2" class="item-rating">
          <span class="rating-value">
            <app-text-shell [data]="2"></app-text-shell>
          </span>
          <ion-icon class="stats-icon" name="star-outline"></ion-icon>
        </ion-col>
        <ion-col size="2" class="item-reviews">
          <span class="reviews-count">
            <app-text-shell [data]="4"></app-text-shell>
          </span>
          <ion-icon class="stats-icon" name="chatbox-ellipses-outline"></ion-icon>
        </ion-col>
        <ion-col size="2" class="item-reviews">
          <ion-icon size="medium" name="pin-outline" ></ion-icon>
        </ion-col>
      </ion-row>
      </div>
      <div *ngIf="item?.type == 'weblink'">
        <ion-row class="info-row">
          <ion-col class="main-info-col">
            <h3 class="item-name">
                <app-text-shell animation="bouncing" [data]="(item?.title && item?.type) ? (item.title + ' - ' + item.type) : (item.title)"></app-text-shell>
            </h3>
            <h3 class="item-name">
              <app-text-shell animation="bouncing" [data]="item.metatitle"></app-text-shell>
          </h3>
          <p class="item-description">
            <app-text-shell animation="bouncing" [data]="item.metadescription"></app-text-shell>
          </p>
          <p class="item-description">
              <app-image-shell animation="bouncing" [src]="item.metaicon"></app-image-shell>
            </p>
            <p class="item-address">
              <app-text-shell animation="bouncing" [data]="item.metasite"></app-text-shell>
            </p>
  
            <p class="item-tags">
              <app-text-shell animation="bouncing" [data]="'Tags: ' + item.resourceTagsString"></app-text-shell>
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="stats-row">
          <ion-col size="2" class="item-rating">
            <span class="rating-value"> 
              <app-text-shell [data]="item.dateCreated | DateFormat"></app-text-shell>
            </span>
          </ion-col>
          <ion-col size="2" class="item-rating">
            <span class="rating-value">
              <app-text-shell [data]="2"></app-text-shell>
            </span>
            <ion-icon class="stats-icon" name="star-outline"></ion-icon>
          </ion-col>
          <ion-col size="2" class="item-reviews">
            <span class="reviews-count">
              <app-text-shell [data]="4"></app-text-shell>
            </span>
            <ion-icon class="stats-icon" name="chatbox-ellipses-outline"></ion-icon>
          </ion-col>
          <ion-col size="2" class="item-reviews">
            <ion-icon size="medium" name="pin-outline" ></ion-icon>
          </ion-col>
        </ion-row>
        </div>
    </div>
     </div>
    </div>

    
    <div *ngSwitchCase="'events'">
      <!-- No Events to show -->
       <div class="empty-list" *ngIf="events && events.length == 0">
       <h1><ion-icon name="chatbubbles"></ion-icon></h1>
       <p>No new upcoming Events added to this group.</p>
       </div>
       <!-- Show Events -->
       <div *ngIf="events && events.length > 0" >
       <ion-searchbar [(ngModel)]="searchEvents" placeholder="Search for Events" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
       <div class="listing-item" *ngFor="let item of events" (click)="viewEvent(item)">
        <ion-row class="info-row">
          <ion-col class="main-info-col">
            <h3 class="item-name">
                <app-text-shell animation="bouncing" [data]="(item?.title && item?.type) ? (item.title + ' - ' + item.type) : (item.title)"></app-text-shell>
            </h3>
            <p class="item-description">
              <app-text-shell animation="bouncing" [data]="item.description" lines="3"></app-text-shell>
            </p>
            <p class="item-address">
              <app-text-shell animation="bouncing" [data]="item.eventDate"></app-text-shell>
              <app-text-shell animation="bouncing" [data]="item.eventTime"></app-text-shell>
            </p>
            <p class="item-address" *ngIf="item.address">
              <app-text-shell animation="bouncing" [data]="item.address"></app-text-shell>
            </p>
  
            <p class="item-tags">
              <app-text-shell animation="bouncing" [data]="'Tags: ' + item.eventTagsString"></app-text-shell>
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="stats-row">
          <ion-col size="2" class="item-rating">
            <span class="rating-value"> 
              <app-text-shell [data]="item.dateCreated | DateFormat"></app-text-shell>
            </span>
          </ion-col>
          <ion-col size="2" class="item-rating">
            <span class="rating-value">
              <app-text-shell [data]="2"></app-text-shell>
            </span>
            <ion-icon class="stats-icon" name="pie-chart-outline"></ion-icon>
          </ion-col>
          <ion-col size="2" class="item-reviews">
            <span class="reviews-count">
              <app-text-shell *ngIf = "item.attendees" [data]="item.attendees.length"></app-text-shell>
              <app-text-shell *ngIf = "!item.attendees" [data]="0"></app-text-shell>
            </span>
            <ion-icon class="stats-icon" name="people-outline"></ion-icon>
          </ion-col>
          <ion-col size="2" class="item-reviews">
            <ion-icon size="large" ios="pin-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
       
       </div>
      </div>
      <!-- Group Info -->
 <div *ngSwitchCase="'groupInfo'">
   <ion-row  style="background: white" padding>
     <ion-col col-md-8>
     <h4 tappable (click)="setName()">{{group.name}}</h4>
     <p tappable style="color:#aaa" (click)="setDescription()">{{group.description}}</p>
     </ion-col>
     <ion-col col-md-4 class="center">
       <img src="{{group.img}}" style="border-radius: 100%; width: 80px; height: 80px;" tappable (click)="setPhoto()" onError="this.src='./assets/images/default-group.png'">
     </ion-col>
   </ion-row>
   <ion-list *ngIf="groupMembers">
     <ion-list-header>
     Group Members ({{groupMembers.length}})
     </ion-list-header>
    <!-- <ion-item (click)="addMembers()">
     <ion-icon name="add" item-left></ion-icon>
     <h2>Add Members</h2>
     </ion-item>-->
     <ion-item *ngFor="let member of groupMembers" (click)="viewUser(member.$key)">
     <ion-avatar item-left>
       <img src="{{member.img}}" onError="this.src='./assets/images/default-dp.png'"/>
     </ion-avatar>
     <h2>{{member.name}}</h2>
     <p>{{member.description}}</p>
     </ion-item>
   </ion-list>
   <ion-list-header *ngIf="loggedInUserIsMember == true" >
     More
   </ion-list-header>
   <ion-list *ngIf="loggedInUserIsMember == true"  style="text-align: center;">  
     <ion-item no-lines tappable (click)="leaveGroup()" *ngIf="groupMembers && groupMembers.length > 1">
     Leave Group
     </ion-item>
     <!-- When there's only one member left, allow deleting of group. -->
     <ion-item color="danger" no-lines tappable (click)="deleteGroup()" *ngIf="groupMembers && groupMembers.length <= 1">
     Delete Group
     </ion-item>
   </ion-list>
   <p padding style="color:#aaa">Started {{group.dateCreated | DateFormat}}</p>
   </div>
  </div>
</ion-content>
<!-- Message Box -->
<ion-footer *ngIf="loggedInUserIsMember == true  && tab=='group'">
  <ion-toolbar>
    <ion-item  class="bottom_bar">
      <ion-textarea style="margin:0" type="text" rows="0" placeholder="Type your message" [(ngModel)]="message"
        (ionFocus)="scrollBottom()" (keypress)="onType($event.keyCode)"></ion-textarea>
      <ion-buttons slot="end" style="margin-left:4px;">
        <ion-button fill="clear" (click)="attach()">
          <ion-icon name="attach"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" (click)="send('text')" [disabled]="!message">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>