:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
  --page-rating-2-color: #aa6c39;
  --page-rating-1-color: #bbb2b2;
}
.tab-title {
  size: 9px;
}
.filters-toolbar {
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);
  --border-style: 10px;

  .searchbar-row {
    --ion-grid-column-padding: 0px;

    ion-searchbar.items-searchbar {
      padding: 0px;
      // override Ionic fixed height
      height: 100%;
      // Learn more about CSS contain property here: https://termvader.github.io/css-contain/
      contain: content;
    }

    .call-to-action-col {
      //padding-inline-start: var(--page-margin);
      max-width: fit-content;
      flex-shrink: 0;
      flex-grow: 0;

      display: flex;
      justify-content: flex-end;

      .filters-btn {
        --padding-start: 6px;
        --padding-end: 6px;

        margin: 0px;
        font-size: 15px;
        // override Ionic fixed height
        height: initial;
      }
    }
  }

}


.listing-item {
background-color: var(--page-background);
}

.icon {
display: inline-block;
vertical-align: middle;
}

.text{
 display: inline-block;
 vertical-align: middle;
 padding-left: 3px;
 text-transform: capitalize !important;
}
.addedByTitle {
 margin-left: 10px;
 line-height: 5px;
 text-decoration: none 
}
.addedByDate {
margin-left: 10px;
 font-style: italic;
}
.addedByImg {
  width: 50px;
  float: left;
  vertical-align: middle;
}
.newIcon {
  margin-left: 10px;
  height: 40px;
  vertical-align: middle;
}
.message {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  // line-height: 19px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  overflow: hidden; 
  text-overflow: ellipsis;

  .reactions {
    margin-left: -10px;
  } 
  .reviews-wrapper {
    padding-top: calc(var(--page-margin) / 1);
    padding-bottom: calc(var(--page-margin) / 3);
   
    .tags {
      padding-right: 5px;

    .item-rating {
      // Default background
      background-color: rgba(var(--page-color-rgb), .35);
              // color: var(--ion-color-lightest);
              // border-radius: var(--app-narrow-radius);
              // padding-top: calc(var(--page-margin) / 1);
              //padding-bottom: calc(var(--page-margin) / 3);
              // padding-left: calc(var(--page-margin) / 2);
              padding-right: calc(var(--page-margin) / 2);
              font-size: 14px;
              font-weight: bold;
              width: 100%;
              display: block;
              text-align: center;
              &[ratingBase="0"] {
                color: var(--page-rating-1-color);
              }
              &[ratingBase="1"] {
                color: var(--page-rating-2-color);
              }
    }

    }
  }
}

.group-info {
  margin: var(--page-margin) var(--page-margin) var(--page-margin) var(--page-margin);
  .group-img {

  }
  .group-name {
    padding-top: var(--page-margin);
    padding-bottom: var(--page-margin);
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 19px;
  }
  .group-tags {
    padding-top: calc(var(--page-margin) / 1);
    padding-bottom: calc(var(--page-margin) / 3);
   
    .tags {
      padding-right: 5px;

    .item-rating {
      // Default background
      background-color: rgba(var(--page-color-rgb), .35);
              // color: var(--ion-color-lightest);
              // border-radius: var(--app-narrow-radius);
              // padding-top: calc(var(--page-margin) / 1);
              //padding-bottom: calc(var(--page-margin) / 3);
              // padding-left: calc(var(--page-margin) / 2);
              padding-right: calc(var(--page-margin) / 2);
              font-size: 14px;
              font-weight: bold;
              width: 100%;
              display: block;
              text-align: center;
              &[ratingBase="0"] {
                color: var(--page-rating-1-color);
              }
              &[ratingBase="1"] {
                color: var(--page-rating-2-color);
              }
    }

    }
  }
}
