<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title (click)="groupInfo()">{{title}}</ion-title>
    <ion-buttons slot="end"> 
      <ion-button *ngIf="loggedInUserIsMember == true" (click)="showGroupOptions()" ><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
   <ion-button *ngIf="loggedInUserIsMember == false" (click)="joinGroup()" >Join Group</ion-button>
    <ion-button *ngIf="loggedInUserIsMember == true && tab=='posts'" (click)="newPost()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    <ion-button *ngIf="loggedInUserIsMember == true && tab=='polls'" (click)="newPoll()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
		<ion-button *ngIf="loggedInUserIsMember == true && tab=='resources'" (click)="newResource()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
		<ion-button *ngIf="loggedInUserIsMember == true && tab=='events'" (click)="newEvent()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
	</ion-buttons>

  </ion-toolbar>

  <ion-segment scrollable value="groupInfo" color="secondary" [(ngModel)]="tab" (ionChange)="segmentChanged($event)">
		<!-- <ion-segment-button value="group">
  			<ion-icon name="chatbubbles"></ion-icon>
    </ion-segment-button> -->
		<!-- <ion-segment-button value="groupInfo">
      <ion-icon name="ellipsis-vertical"></ion-icon>
		</ion-segment-button> -->
    <ion-segment-button value="posts">
      <ion-icon size="medium" name="chatbubbles"></ion-icon>
      <!-- <span class="tab-title">Posts</span> -->
    </ion-segment-button>
		<ion-segment-button value="polls">
      <ion-icon size="medium" name="podium"></ion-icon>
      <!-- <span class="tab-title">Polls</span> -->
		</ion-segment-button>
		<ion-segment-button value="resources">
      <ion-icon size="medium" name="library"></ion-icon>
      <!-- <span class="tab-title">Resources</span> -->
    </ion-segment-button>
    <ion-segment-button value="events">
      <ion-icon size="medium" name="calendar"></ion-icon>
      <!-- <span class="tab-title">Events</span> -->
    </ion-segment-button>
</ion-segment>
</ion-header>

<ion-content>
  <div [ngSwitch]="tab" >

  <div *ngSwitchCase="'posts'">
    <!-- No Posts to show -->
     <div class="empty-list" *ngIf="posts && posts.length == 0">
     <h1><ion-icon name="chatbubbles-outline"></ion-icon></h1>
     <p>No new Posts added to this group.</p>
     </div>
     <!-- Show Posts -->
     <div *ngIf="posts && posts.length > 0" >
     <div class="listing-item" *ngFor="let item of posts | reverse" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle class="addedBy">
           <img class="addedByImg" src="{{item.avatar}}" onError="this.src='./assets/images/default-dp.png'" /> 
            <p><a class="addedByTitle" (click)="viewUser(item.addedByUser.addedByKey)" ><b>{{item.addedByUser.addedByUsername}}</b></a><!-- <img *ngIf="item.showNewIcon" class="newIcon" src="./assets/icon/new.svg" />  -->
             <br/>
            <span class="addedByDate">posted {{item.date.toDate() | DateFormat}}</span><br/>
           <a (click)="viewGroup(item.groupId)" class="addedByTitle">in <b>{{item.groupName}}</b></a></p>
         </ion-card-subtitle>
       </ion-card-header>
       <ion-card-content class="message" *ngIf="item.type === 'general'">
        <div (click)="viewPost(item)">
        <b>{{item.title}}.</b> {{item.data.message}} <br/>
      </div>
        <div class="reviews-wrapper">
        <ion-row>
          <div class="tags" *ngFor="let tag of item.postTags">
            <span *ngIf="tag.isChecked" class="item-rating" [attr.ratingBase]="1">#{{tag.val}}</span>
            <span *ngIf="!tag.isChecked" class="item-rating" [attr.ratingBase]="0">#{{tag.val}}</span>
          </div>
        </ion-row>
        </div>
        <div class="reactions">
        <ion-row >
          <ion-col size=3>
            <ion-buttons>
              <ion-button (click)="submitReactionPost(item, 'Thanks')">
             <div *ngIf="item.showSmiley"><ion-icon size="small" class="icon" src="./assets/icon/smile-active.svg" ></ion-icon> <span class="text">Thanks</span></div> 
             <div *ngIf="!item.showSmiley"><ion-icon size="small" class="icon"  src="./assets/icon/smile.svg" ></ion-icon> <span class="text">Thanks</span></div> 
            </ion-button>
            </ion-buttons> 
          </ion-col>
          <ion-col size=3>
            <ion-buttons>
              <ion-button (click)="submitReactionPost(item, 'Hug')">
             <div *ngIf="item.showHug"><ion-icon size="small" class="icon" src="./assets/icon/hug-active.svg" ></ion-icon> <span class="text">Hug</span></div> 
             <div *ngIf="!item.showHug"><ion-icon size="small" class="icon"  src="./assets/icon/hug.svg" ></ion-icon> <span class="text">Hug</span></div> 
            </ion-button>
            </ion-buttons> 
          </ion-col>
          <ion-col size=2></ion-col>
          <ion-col size=2>
            <ion-buttons>
              <ion-button (click)="showReactionsList(item)">
            <div><ion-icon size="small" src="./assets/icon/smile-active.svg" class="icon"></ion-icon><ion-icon size="small" src="./assets/icon/hug-active.svg" class="icon"></ion-icon> <span class="text">{{item.totalReactionCount}}</span></div>
          </ion-button>
        </ion-buttons> 
          </ion-col>
          <ion-col size=2>
            <ion-buttons>
              <ion-button>
            <div><ion-icon size="small" src="./assets/icon/chat.svg" class="icon"></ion-icon> <span class="text">{{item.totalReviewCount}}</span></div>
          </ion-button>
        </ion-buttons> 
          </ion-col>
        </ion-row>
        </div>
      </ion-card-content>
      </ion-card>
    </div>
     </div>
    </div>
     <div *ngSwitchCase="'polls'">
    <!-- No polls to show -->
     <div class="empty-list" *ngIf="polls && polls.length == 0">
     <h1><ion-icon name="md-chatbubbles"></ion-icon></h1>
     <p>No new polls yet.</p>
     </div>
     <!-- Show polls -->
     <div *ngIf="polls && polls.length > 0">
      <div class="listing-item" *ngFor="let item of polls">
     <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="addedBy">
         <img class="addedByImg" src="{{item.avatar}}" onError="this.src='./assets/images/default-dp.png'" /> 
          <p><a class="addedByTitle" (click)="viewUser(item.addedByUser.addedByKey)" ><b>{{item.addedByUser.addedByUsername}}</b></a><!-- <img *ngIf="item.showNewIcon" class="newIcon" src="./assets/icon/new.svg" />  -->
           <br/>
          <span class="addedByDate">posted {{item.date.toDate() | DateFormat}}</span><br/>
         <a (click)="viewGroup(item.groupId)" class="addedByTitle">in <b>{{item.groupName}}</b></a></p>
       </ion-card-subtitle>
     </ion-card-header>
     <ion-card-content class="message">
      <div (click)="viewPoll(item)">
      <b>{{item.title}}.</b><br/>
      <ion-row class="info-row" *ngFor="let pollOption of item.data.pollOptions">
        <ion-col class="poll-option-col">
           <div><ion-icon size="small" class="icon" src="./assets/icon/checked.svg" ></ion-icon> <span class="text">{{pollOption.name}}</span></div>
        </ion-col>
      </ion-row>
    </div>
      <div class="reviews-wrapper">
        <ion-row>
          <div class="tags" *ngFor="let tag of item.postTags">
            <span *ngIf="tag.isChecked" class="item-rating" [attr.ratingBase]="1">#{{tag.val}}</span>
            <span *ngIf="!tag.isChecked" class="item-rating" [attr.ratingBase]="0">#{{tag.val}}</span>
          </div>
        </ion-row>
        </div>

        <ion-row class="info-row" >
       <ion-col size="8">
                 <span class="text">Poll ends {{item.data.dateEnding.toDate() | DateFormat}}</span> 
              </ion-col>
        <ion-col size="1">
        </ion-col>
              <ion-col size="3">
                <div><span class="text">{{item.totalPollCount}} voted</span></div>
              </ion-col>
            </ion-row>
    </ion-card-content>
      </ion-card>
   </div>
      </div>
    </div>
    <div *ngSwitchCase="'resources'">
    <!-- No Resources to show -->
     <div class="empty-list" *ngIf="resources && resources.length == 0">
     <h1><ion-icon name="chatbubbles-outline"></ion-icon></h1>
     <p>No new Resources added to this group.</p>
     </div>
     <!-- Show Resources -->
     <div *ngIf="resources && resources.length > 0" >
      <div class="listing-item" *ngFor="let item of resources">
       <div>
     <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="addedBy">
         <img class="addedByImg" src="{{item.avatar}}" onError="this.src='./assets/images/default-dp.png'" /> 
          <p><a class="addedByTitle" (click)="viewUser(item.addedByUser.addedByKey)" ><b>{{item.addedByUser.addedByUsername}}</b></a><!-- <img *ngIf="item.showNewIcon" class="newIcon" src="./assets/icon/new.svg" />  -->
           <br/>
          <span class="addedByDate">posted {{item.date.toDate() | DateFormat}}</span><br/>
         <a (click)="viewGroup(item.groupId)" class="addedByTitle">in <b>{{item.groupName}}</b></a></p>
       </ion-card-subtitle>
     </ion-card-header>
     <ion-card-content class="message">
      <div (click)="viewResource(item)">
      <b>{{item.title}}.</b><br/>
      <div *ngIf="item?.data.type == 'contact'">
        {{item.data.name}}<br/>
        {{item.data.address}}<br/><br/>
        {{item.data.email}}<br/>
        {{item.data.phones}}<br/>
      </div>
      <div *ngIf="item?.data.type == 'upload'">
        <div *ngIf="item.data.uploadtype == 'location'" [innerHtml]="item.data.url"></div>
        <div *ngIf="item.data.uploadtype == 'contact'">
        {{item.data.name}}<br/>
        {{item.data.address}}<br/>
        {{item.data.phones}}<br/>
        {{item.data.email}}<br/>
        </div>
        <div *ngIf="item.data.uploadtype == 'image'">
        <img src="{{item.data.resolvedurl}}" />
        </div>
        <div *ngIf="item.data.uploadtype == 'video'">
          <video controls width="100%" src="{{item.data.resolvedurl}}" ></video>
        </div>
      </div>
      <div *ngIf="item?.data.type == 'weblink'">
      {{item.data.metatitle}}<br/>
      <img [src]="item.data.metaicon"/> 
      {{item.data.metadescription}}<br/><br/>
      <a href="{{item.data.metasite}}">{{item.data.metasite}}</a>
      </div>
    </div>
      <div class="reviews-wrapper">
        <ion-row>
          <div class="tags" *ngFor="let tag of item.postTags">
            <span *ngIf="tag.isChecked" class="item-rating" [attr.ratingBase]="1">#{{tag.val}}</span>
            <span *ngIf="!tag.isChecked" class="item-rating" [attr.ratingBase]="0">#{{tag.val}}</span>
          </div>
        </ion-row>
      </div>
      <div class="reactions">
         <ion-row>
          <ion-col size=3>
            <ion-buttons>
            <ion-button (click)="submitReactionPost(item, 'Thanks')">
           <div *ngIf="item.showSmiley"><ion-icon size="small" class="icon" src="./assets/icon/smile-active.svg" ></ion-icon> <span class="text">Thanks</span></div> 
           <div *ngIf="!item.showSmiley"><ion-icon size="small" class="icon"  src="./assets/icon/smile.svg" ></ion-icon> <span class="text">Thanks</span></div> 
            </ion-button>
            </ion-buttons> 
          </ion-col>
          <ion-col size=3>
               <ion-buttons>
               <ion-button (click)="submitReactionPost(item, 'Bookmark')">
              <div *ngIf="item.showBookmark"><ion-icon size="small" class="icon" src="./assets/icon/bookmark-active.svg" ></ion-icon> <span class="text">Bookmark</span></div> 
              <div *ngIf="!item.showBookmark"><ion-icon size="small" class="icon"  src="./assets/icon/bookmark.svg" ></ion-icon> <span class="text">Bookmark</span></div> 
               </ion-button>
               </ion-buttons> 
          </ion-col>
        <ion-col size=2></ion-col>
        <ion-col size=2>
               <ion-buttons>
               <ion-button (click)="showReactionsList(item)">
               <div><ion-icon size="small" src="./assets/icon/bookmark-active.svg" class="icon"></ion-icon><ion-icon size="small" src="./assets/icon/smile-active.svg" class="icon"></ion-icon><span class="text">{{item.totalReactionCount}}</span></div>
             </ion-button>
             </ion-buttons> 
             </ion-col>
             <ion-col size=2>
               <ion-buttons>
               <ion-button>
                <div><ion-icon size="small" src="./assets/icon/chat.svg" class="icon"></ion-icon> <span class="text">{{item.totalReviewCount}}</span></div>
              </ion-button>
             </ion-buttons> 
             </ion-col>
        </ion-row>
      
      </div>
    </ion-card-content>
        </ion-card>
           </div>
     </div>
      </div>
    </div>
    <div *ngSwitchCase="'events'">
      <!-- No Events to show -->
       <div class="empty-list" *ngIf="events && events.length == 0">
       <h1><ion-icon name="chatbubbles"></ion-icon></h1>
       <p>No new upcoming Events added to this group.</p>
       </div>
       <!-- Show Events -->
       <div *ngIf="events && events.length > 0" >
        <div class="listing-item" *ngFor="let item of events">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle class="addedBy">
               <img class="addedByImg" src="{{item.avatar}}" onError="this.src='./assets/images/default-dp.png'" /> 
                <p><a class="addedByTitle" (click)="viewUser(item.addedByUser.addedByKey)" ><b>{{item.addedByUser.addedByUsername}}</b></a><!-- <img *ngIf="item.showNewIcon" class="newIcon" src="./assets/icon/new.svg" />  -->
                 <br/>
                <span class="addedByDate">posted {{item.date.toDate() | DateFormat}}</span><br/>
               <a (click)="viewGroup(item.groupId)" class="addedByTitle">in <b>{{item.groupName}}</b></a></p>
             </ion-card-subtitle>
           </ion-card-header>
           <ion-card-content class="message" *ngIf="item.type === 'event'">
            <div (click)="viewEvent(item)">
            <b>{{item.title}}.</b> <br/>{{item.data.eventDate}} at {{item.data.eventTime}}<br/><br/>
              {{item.data.address}}<br/><br/>
              {{item.data.link}}
            </div>
            <div class="reviews-wrapper">
              <ion-row>
                <div class="tags" *ngFor="let tag of item.postTags">
                  <span *ngIf="tag.isChecked" class="item-rating" [attr.ratingBase]="1">#{{tag.val}}</span>
                  <span *ngIf="!tag.isChecked" class="item-rating" [attr.ratingBase]="0">#{{tag.val}}</span>
                </div>
              </ion-row>
            </div>
            <div class="reactions">
              <ion-row>
                <ion-col size=3>
                  <ion-buttons>
                    <ion-button (click)="submitReactionPost(item, 'Thanks')">
                    <div *ngIf="item.showSmiley"><ion-icon size="small" class="icon" src="./assets/icon/smile-active.svg" ></ion-icon> <span class="text">Thanks</span></div> 
                    <div *ngIf="!item.showSmiley"><ion-icon size="small" class="icon"  src="./assets/icon/smile.svg" ></ion-icon> <span class="text">Thanks</span></div> 
                  </ion-button>
                  </ion-buttons> 
                </ion-col>
                <ion-col size=3>
                  <ion-buttons>
                    <ion-button (click)="submitReactionPost(item, 'Checkin')">
                    <div *ngIf="item.showCheckin"><ion-icon size="small" class="icon" src="./assets/icon/checkin-active.svg" ></ion-icon> <span class="text">Checkin</span></div> 
                    <div *ngIf="!item.showCheckin"><ion-icon size="small" class="icon"  src="./assets/icon/checkin.svg" ></ion-icon> <span class="text">Checkin</span></div> 
                  </ion-button>
                  </ion-buttons> 
                </ion-col>
                <ion-col size=2></ion-col>
                <ion-col size=2>
                        <ion-buttons>
                          <ion-button (click)="showReactionsList(item)">
                        <div><ion-icon size="small" src="./assets/icon/smile-active.svg" class="icon"></ion-icon><ion-icon size="small" src="./assets/icon/checkin-active.svg" class="icon"></ion-icon><span class="text">{{item.totalReactionCount}}</span></div>
                      </ion-button>
                    </ion-buttons> 
                </ion-col>
                <ion-col size=2>
                        <ion-buttons>
                          <ion-button>
                            <div><ion-icon size="small" src="./assets/icon/chat.svg" class="icon"></ion-icon> <span class="text">{{item.totalReviewCount}}</span></div>
                          </ion-button>
                    </ion-buttons> 
                </ion-col>
               </ion-row>
           </div>
          </ion-card-content>
        </ion-card>
        </div>
       </div>
      </div>
      <!-- Group Info -->
 <div  class="group-info" *ngSwitchCase="'groupInfo'">
  <div>

    <div class="group-img">
      <img src="{{group.img}}">
    </div>
    <div class="group-name">    
      {{group.name}}
    </div>
    <div class="group-desc">
      {{group.description}}
    </div>
</div>
<div class="group-name"> 
Group Tags
</div>
<div class="group-tags">
  <ion-row>
    <div class="tags" *ngFor="let tag of group.groupTags">
      <span class="item-rating" [attr.ratingBase]="1">#{{tag}}</span>
    </div>
  </ion-row>
</div>
<div class="group-name"> 
  Group Members ({{groupMembers.length}})
  </div>
   <ion-list *ngIf="groupMembers">
    <!-- <ion-item (click)="addMembers()">
     <ion-icon name="add" item-left></ion-icon>
     <h2>Add Members</h2>
     </ion-item>-->
     <ion-item *ngFor="let member of groupMembers" (click)="viewUser(member.$key)">
     <ion-avatar>
       <img src="{{member.img}}" onError="this.src='./assets/images/default-dp.png'"/>
     </ion-avatar>
     <ion-label class="group-member-name">{{member.name}}</ion-label>
     <p>{{member.description}}</p>
     </ion-item>
   </ion-list>
   <ion-list-header *ngIf="loggedInUserIsMember == true" >
     More
   </ion-list-header>
   <ion-list *ngIf="loggedInUserIsMember == true"  style="text-align: center;">  
     <ion-item no-lines tappable (click)="leaveGroup()" *ngIf="groupMembers && groupMembers.length > 1">
     Leave Group
     </ion-item>
     <!-- When there's only one member left, allow deleting of group. -->
     <ion-item color="danger" no-lines tappable (click)="deleteGroup()" *ngIf="groupMembers && groupMembers.length <= 1">
     Delete Group
     </ion-item>
   </ion-list>
   <p padding style="color:#aaa">Started {{group.dateCreated | DateFormat}}</p>
   </div>
  </div>
</ion-content>
