<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/intro"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="FireChat Logo" class="chat-logo">
    </div>
    
    <h1>Sign In</h1>
    
    <form [formGroup]="myForm">
      <ion-item class="custom-item">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <div *ngFor="let validation of errorMessages.email">
        <div class="error-message" *ngIf="myForm.get('email').hasError(validation.type) && (myForm.get('email').dirty || myForm.get('email').touched || submitAttempt)">
          {{validation.message}}
        </div>
      </div>
      
      <ion-item class="custom-item">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <div *ngFor="let validation of errorMessages.password">
        <div class="error-message" *ngIf="myForm.get('password').hasError(validation.type) && (myForm.get('password').dirty || myForm.get('password').touched || submitAttempt)">
          {{validation.message}}
        </div>
      </div>
      
      <div class="forgot-password">
        <ion-button fill="clear" size="small" routerLink="/forgot">Forgot Password?</ion-button>
      </div>
      
      <ion-button expand="block" class="login-btn" (click)="login()">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Sign In
      </ion-button>
      
      <div class="social-login">
        <div class="divider">or continue with</div>
        <div class="social-buttons">
          <ion-button fill="outline" class="social-btn" (click)="loginWithGoogle()">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
          <ion-button fill="outline" class="social-btn" (click)="loginWithApple()">
            <ion-icon name="logo-apple"></ion-icon>
          </ion-button>
          <ion-button fill="outline" class="social-btn" (click)="loginWithFacebook()">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
        </div>
      </div>
      
      <div class="signup-link">
        <p>Don't have an account? <a (click)="goToRegister()">Sign Up</a></p>
      </div>
    </form>
  </div>
</ion-content>