

<ion-content>
  <!-- We need the form wrapping the slides so all the inputs in the different slides are part of the same form -->
  <form class="getting-started-form" [formGroup]="gettingStartedForm">
    <ion-slides class="getting-started-slides" pager="true">

      <ion-slide class="interests-to-follow-slide question-slide">
        <ion-row class="slide-inner-row">
          <ion-col class="heading-col">
            <h2 class="slide-title">Pick groups that interest you</h2>
            <p class="slide-subtitle">
              You can add or change them later
            </p>
          </ion-col>
          <ion-col class="question-options-col">
            <ion-row class="options-list-row" formGroupName="followingInterests">
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [mode]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category1-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Tops</span>
                      <ion-checkbox formControlName="tops"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [mode]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category2-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Dresses</span>
                      <ion-checkbox formControlName="dresses"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [mode]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category3-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Jeans</span>
                      <ion-checkbox formControlName="jeans"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [mode]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category4-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Jackets</span>
                      <ion-checkbox formControlName="jackets"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [mode]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category5-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Shoes</span>
                      <ion-checkbox formControlName="shoes"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [mode]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category6-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Glasses</span>
                      <ion-checkbox formControlName="glasses"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="call-to-action-col">
            <ion-button class="signup-button" color="secondary" expand="block" (click)="goSignUp()" >Sign Up</ion-button>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
