ion-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue-Medium', 'Helvetica Neue Medium', Helvetica-Bold, 'Roboto-Medium', 'Segoe UI Semibold', Arial-Bold, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  cursor: pointer;
  margin: 0 0 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
