:host {
     --page-margin: var(--app-narrow-margin);
     --page-background: var(--app-background);
  }
  
  ion-searchbar {
    --border-radius: 30px;
  }

.filters-toolbar {
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    // --padding-top: var(--page-margin);

    .searchbar-row {
      --ion-grid-column-padding: 0px;
  
      .searchbar {
        padding: 0px;
        height:30px;
        border-radius: 20px;
        // override Ionic fixed height
        // height: 100%;
        // Learn more about CSS contain property here: https://termvader.github.io/css-contain/
        //  contain: content;
      }
  
      .call-to-action-col {
        max-width: fit-content;
        flex-shrink: 0;
        flex-grow: 0;
  
        display: flex;
        justify-content: flex-end;
  
        .filters-btn {
          --padding-start: 6px;
          --padding-end: 6px;
  
          margin: 0px;
          font-size: 15px;
          // override Ionic fixed height
          height: initial;
        }
      }
    }

  }
    
.listing-item {
  background-color: var(--page-background);
 }

.icon {
  display: inline-block;
  vertical-align: middle;
 }
 
 .poll-icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
 }

 .text{
   display: inline-block;
   vertical-align: middle;
   padding-left: 3px;
   text-transform: capitalize !important;
   font-size: 12px;
 }
 .addedByTitle {
   margin-left: 10px;
   line-height: 5px;
   text-decoration: none;
  //  letter-spacing: 1px;
 }
 .addedByDate {
  margin-left: 10px;
  font-style: italic;
  font-size: 12px;
  }
  
.addedByImg {
    width: 45px;
    float: left;
    vertical-align: middle;
  }
  .newIcon {
    margin-left: 10px;
    height: 40px;
    vertical-align: middle;
  }
  .message {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow: hidden; 
    text-overflow: ellipsis;

    .slider {
      margin-bottom: 5px;
    }

    .reactions {
      margin-bottom: 0px;
      margin-left: -10px;
    } 
    .tags-wrapper {
      padding-top: 5px;
     
      .tags {
        padding-right: 5px;

      .item-rating {
        background-color: rgba(var(--page-color-rgb), .35);
        padding-right: 15px;
        font-size: 12px;
        font-weight: bold;
        width: 100%;
        display: block;
        text-align: center;
        color: #aa6c39;
      }
      }
    }
  }

  ion-slides {
    height: auto;
  }
