<ion-header>
  <ion-toolbar class="filters-toolbar">
    <ion-row class="searchbar-row" align-items-center>
    <ion-col>
        <ion-searchbar mode="ios" class="searchbar" placeholder="Search..."></ion-searchbar>
      </ion-col>
      <ion-col class="call-to-action-col">
        <ion-button fill="clear" color="secondary" class="filters-btn" routerLink="/messages">
          <ion-icon slot="icon-only" name="notifications-outline" ></ion-icon>
          <ion-badge *ngIf="getUnreadMessagesCount() != null">{{getUnreadMessagesCount()}}</ion-badge>
        </ion-button>
      </ion-col>
      <ion-col class="call-to-action-col">
        <ion-button fill="clear" color="secondary" class="filters-btn" (click)="showGroupOptions()">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>
<!-- <ion-badge class="badge" *ngIf="item.type === 'general'" color="tertiary">Post</ion-badge>
<ion-badge class="badge" *ngIf="item.type === 'event'" color="warning">Event</ion-badge>
<ion-badge class="badge" *ngIf="item.type === 'poll'" color="medium">Poll</ion-badge>
<ion-badge class="badge" *ngIf="item.type === 'resource'" color="dark">Resource</ion-badge>  -->


<ion-content fullscreen>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
     <!-- Show Posts -->
     <div *ngIf="posts && posts.length > 0" >
     <div class="listing-item" *ngFor="let item of posts" >
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-col size=10>
           <ion-card-subtitle class="addedBy">
            <img class="addedByImg" src="{{item.avatar}}" onError="this.src='./assets/images/default-dp.png'" /> 
             <p><a class="addedByTitle" (click)="viewUser(item.addedByUser.addedByKey)" ><b>{{item.addedByUser.addedByUsername}}</b></a><!-- <img *ngIf="item.showNewIcon" class="newIcon" src="./assets/icon/new.svg" />  -->
              <br/>
             <span class="addedByDate">posted {{item.date.toDate() | DateFormat}}</span><br/>
            <a (click)="viewGroup(item.groupId)" class="addedByTitle">in <b>{{item.groupName}}</b></a></p>
          </ion-card-subtitle>
        </ion-col>
        <ion-col size=2>
          <ion-buttons>
            <ion-button (click)="showPostOptions(item)">
              <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        </ion-row>
        </ion-card-header>
        <ion-card-content class="message" *ngIf="item.type === 'general'">
          <div (click)="viewPost(item)">
            <div>
              <ion-slides class="slider" pager="true" [options]="slideOptsOne" #slideWithNav>
              <ion-slide *ngFor="let s of item.postMedia">
                <div class="bgSizeContain" 
                [ngStyle]="{'background-image':'url('+s+')'}">
              </div>
              </ion-slide>
            </ion-slides>
            </div>
          <ion-label><b>{{item.title}}.</b> {{item.data.message}} <br/></ion-label>
        </div>
          <div class="tags-wrapper">
          <ion-row>
            <div class="tags" *ngFor="let tag of item.postTags">
              <span class="item-rating">#{{tag.val}}</span>
            </div>
          </ion-row>
          </div>
          <div class="reactions">
          <ion-row >
            <ion-col size=3>
              <ion-buttons>
                <ion-button (click)="submitReactionPost(item, 'Thanks')">
               <div *ngIf="item.showSmiley"><ion-icon size="small" class="icon" src="./assets/icon/smile-active.svg" ></ion-icon> <span class="text">Thanks</span></div> 
               <div *ngIf="!item.showSmiley"><ion-icon size="small" class="icon"  src="./assets/icon/smile.svg" ></ion-icon> <span class="text">Thanks</span></div> 
              </ion-button>
              </ion-buttons> 
            </ion-col>
            <ion-col size=3>
              <ion-buttons>
                <ion-button (click)="submitReactionPost(item, 'Hug')">
               <div *ngIf="item.showHug"><ion-icon size="small" class="icon" src="./assets/icon/hug-active.svg" ></ion-icon> <span class="text">Hug</span></div> 
               <div *ngIf="!item.showHug"><ion-icon size="small" class="icon"  src="./assets/icon/hug.svg" ></ion-icon> <span class="text">Hug</span></div> 
              </ion-button>
              </ion-buttons> 
            </ion-col>
            <ion-col size=2></ion-col>
            <ion-col size=2>
              <ion-buttons>
                <ion-button (click)="showReactionsList(item)">
              <div><ion-icon size="small" src="./assets/icon/smile-active.svg" class="icon"></ion-icon><ion-icon size="small" src="./assets/icon/hug-active.svg" class="icon"></ion-icon> <span class="text">{{item.totalReactionCount}}</span></div>
            </ion-button>
          </ion-buttons> 
            </ion-col>
            <ion-col size=2>
              <ion-buttons>
                <ion-button>
              <div><ion-icon size="small" class="icon" name="chatbox-outline"></ion-icon> <span class="text">{{item.totalReviewCount}}</span></div>
            </ion-button>
          </ion-buttons> 
            </ion-col>
          </ion-row>
          </div>
        </ion-card-content>

        <ion-card-content class="message" *ngIf="item.type === 'event'">
          <div (click)="viewEvent(item)">
          <b>{{item.title}}.</b> <br/>{{item.data.eventDate}} at {{item.data.eventTime}}<br/><br/>
            {{item.data.address}}<br/><br/>
            {{item.data.link}}
          </div>
          <div class="tags-wrapper">
            <ion-row>
              <div class="tags" *ngFor="let tag of item.postTags">
                <span class="item-rating">#{{tag.val}}</span>
              </div>
            </ion-row>
            </div>
          <div class="reactions">
            <ion-row>
              <ion-col size=3>
                <ion-buttons>
                  <ion-button (click)="submitReactionPost(item, 'Thanks')">
                  <div *ngIf="item.showSmiley"><ion-icon size="small" class="icon" src="./assets/icon/smile-active.svg" ></ion-icon> <span class="text">Thanks</span></div> 
                  <div *ngIf="!item.showSmiley"><ion-icon size="small" class="icon"  src="./assets/icon/smile.svg" ></ion-icon> <span class="text">Thanks</span></div> 
                </ion-button>
                </ion-buttons> 
              </ion-col>
              <ion-col size=3>
                <ion-buttons>
                  <ion-button (click)="submitReactionPost(item, 'Checkin')">
                  <div *ngIf="item.showCheckin"><ion-icon size="small" class="icon" src="./assets/icon/checkin-active.svg" ></ion-icon> <span class="text">Checkin</span></div> 
                  <div *ngIf="!item.showCheckin"><ion-icon size="small" class="icon"  src="./assets/icon/checkin.svg" ></ion-icon> <span class="text">Checkin</span></div> 
                </ion-button>
                </ion-buttons> 
              </ion-col>
              <ion-col size=2></ion-col>
              <ion-col size=2>
                      <ion-buttons>
                        <ion-button (click)="showReactionsList(item)">
                      <div><ion-icon size="small" src="./assets/icon/smile-active.svg" class="icon"></ion-icon><ion-icon size="small" src="./assets/icon/checkin-active.svg" class="icon"></ion-icon><span class="text">{{item.totalReactionCount}}</span></div>
                    </ion-button>
                  </ion-buttons> 
              </ion-col>
              <ion-col size=2>
                      <ion-buttons>
                        <ion-button>
                          <div><ion-icon size="small" class="icon" name="chatbox-outline"></ion-icon> <span class="text">{{item.totalReviewCount}}</span></div>
                        </ion-button>
                  </ion-buttons> 
              </ion-col>
             </ion-row>
         </div>
        </ion-card-content>

        <ion-card-content class="message" *ngIf="item.type === 'poll'" >
          <div (click)="viewPoll(item)">
          <b>{{item.title}}.</b><br/>
          <ion-row  *ngFor="let pollOption of item.data.pollOptions">
            <ion-col >
               <div><ion-icon class="poll-icon" name="checkbox-outline"></ion-icon> <span>{{pollOption.name}}</span></div>
            </ion-col>
          </ion-row>
        </div>
        <div class="tags-wrapper">
          <ion-row>
            <div class="tags" *ngFor="let tag of item.postTags">
              <span class="item-rating">#{{tag.val}}</span>
            </div>
          </ion-row>
          </div>

                <ion-row class="info-row" >
           <ion-col size="8">
                     <span class="text" *ngIf="!item.pollClosed">Poll ends {{item.data.dateEnding.toDate() | DateFormat}}</span> 
                     <span class="text" *ngIf="item.pollClosed">Poll closed</span> 
                  </ion-col>
            <ion-col size="1">
            </ion-col>
                  <ion-col size="3">
                    <div><span class="text">{{item.totalPollCount}} voted</span></div>
                  </ion-col>
                </ion-row>
        </ion-card-content>
        
        <ion-card-content class="message" *ngIf="item.type === 'resource'">
          <div (click)="viewResource(item)">
          <b>{{item.title}}.</b><br/>
          <div *ngIf="item?.data.type == 'contact'">
            {{item.data.name}}<br/>
            {{item.data.address}}<br/><br/>
            {{item.data.email}}<br/>
            {{item.data.phones}}<br/>
          </div>
          <div *ngIf="item?.data.type == 'upload'">
            <div *ngIf="item.data.uploadtype == 'location'" [innerHtml]="item.data.url"></div>
            <div *ngIf="item.data.uploadtype == 'contact'">
            {{item.data.name}}<br/>
            {{item.data.address}}<br/>
            {{item.data.phones}}<br/>
            {{item.data.email}}<br/>
            </div>
            <div *ngIf="item.data.uploadtype == 'image'">
            <img src="{{item.data.resolvedurl}}" />
            </div>
            <div *ngIf="item.data.uploadtype == 'video'">
              <video controls width="100%" src="{{item.data.resolvedurl}}" ></video>
            </div>
          </div>
          <div *ngIf="item?.data.type == 'weblink'">
          {{item.data.metatitle}}<br/>
          <img [src]="item.data.metaicon"/> 
          {{item.data.metadescription}}<br/><br/>
          <a href="{{item.data.metasite}}">{{item.data.metasite}}</a>
          </div>
        </div>
        <div class="tags-wrapper">
          <ion-row>
            <div class="tags" *ngFor="let tag of item.postTags">
              <span class="item-rating">#{{tag.val}}</span>
            </div>
          </ion-row>
          </div>
          <div class="reactions">
             <ion-row>
              <ion-col size=3>
                <ion-buttons>
                <ion-button (click)="submitReactionPost(item, 'Thanks')">
               <div *ngIf="item.showSmiley"><ion-icon size="small" class="icon" src="./assets/icon/smile-active.svg" ></ion-icon> <span class="text">Thanks</span></div> 
               <div *ngIf="!item.showSmiley"><ion-icon size="small" class="icon"  src="./assets/icon/smile.svg" ></ion-icon> <span class="text">Thanks</span></div> 
                </ion-button>
                </ion-buttons> 
              </ion-col>
              <ion-col size=3>
                   <ion-buttons>
                   <ion-button (click)="submitReactionPost(item, 'Bookmark')">
                  <div *ngIf="item.showBookmark"><ion-icon size="small" class="icon" src="./assets/icon/bookmark-active.svg" ></ion-icon> <span class="text">Bookmark</span></div> 
                  <div *ngIf="!item.showBookmark"><ion-icon size="small" class="icon"  src="./assets/icon/bookmark.svg" ></ion-icon> <span class="text">Bookmark</span></div> 
                   </ion-button>
                   </ion-buttons> 
              </ion-col>
            <ion-col size=2></ion-col>
            <ion-col size=2>
                   <ion-buttons>
                   <ion-button (click)="showReactionsList(item)">
                   <div><ion-icon size="small" src="./assets/icon/bookmark-active.svg" class="icon"></ion-icon><ion-icon size="small" src="./assets/icon/smile-active.svg" class="icon"></ion-icon><span class="text">{{item.totalReactionCount}}</span></div>
                 </ion-button>
                 </ion-buttons> 
                 </ion-col>
                 <ion-col size=2>
                   <ion-buttons>
                   <ion-button>
                    <div><ion-icon size="small" class="icon" name="chatbox-outline"></ion-icon> <span class="text">{{item.totalReviewCount}}</span></div>
                  </ion-button>
                 </ion-buttons> 
                 </ion-col>
            </ion-row>
          
          </div>
        </ion-card-content>
        <!-- Dont touch the tags below this line-->
      </ion-card>

     </div>
     </div>
     <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
