<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end"> 
		<ion-button *ngIf="loggedInUserIsMember == true" (click)="newPost()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contact-card-content"> 
<div>


    <ion-card>
      <ion-row class="user-preferences-wrapper">
      <ion-card-header class="subtitle">
        <img src="{{post.avatar}}" onError="this.src='./assets/images/default-dp.png'" /> {{post.senderName}}, posted {{post.date | DateFormat}}
        <ion-card-title class="title">{{post.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="message">
        {{post.message}}
        
      </ion-card-content>

    </ion-row>
    
  <ion-row class="user-preferences-wrapper message">
    <ion-col>
      <ion-buttons>
        <ion-button (click)="submitReactionSmile()">
       <div *ngIf="post.showSmiley"><ion-icon size="small" class="icon" src="./assets/icon/smile-active.svg" ></ion-icon> <span class="text">Thanks</span></div> 
       <div *ngIf="!post.showSmiley"><ion-icon size="small" class="icon"  src="./assets/icon/smile.svg" ></ion-icon> <span class="text">Thanks</span></div> 
      </ion-button>
      </ion-buttons> 
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button (click)="submitReactionHug()">
       <div *ngIf="post.showHug"><ion-icon size="small" class="icon" src="./assets/icon/hug-active.svg" ></ion-icon> <span class="text">Hug</span></div> 
       <div *ngIf="!post.showHug"><ion-icon size="small" class="icon"  src="./assets/icon/hug.svg" ></ion-icon> <span class="text">Hug</span></div> 
      </ion-button>
      </ion-buttons> 
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button (click)="showReactionsList()">
      <div><ion-icon size="small" src="./assets/icon/smile-active.svg" class="icon"></ion-icon><ion-icon size="small" src="./assets/icon/hug-active.svg" class="icon"></ion-icon> <span class="text">{{post.totalReactionCount}}</span></div>
    </ion-button>
  </ion-buttons> 
    </ion-col>
    <ion-col>
      <div><ion-icon size="small" src="./assets/icon/chat.svg" class="icon"></ion-icon> <span class="text">{{post.totalReviewCount}}</span></div>
    </ion-col>
  </ion-row>
    </ion-card>


  <hr class="details-divider">
  <div class="reviews-wrapper">
    <h3 class="detail-title">Selected Tags</h3>
 
      <ion-row class="checkbox-tags rounded-checkbox-tags user-preferences-wrapper">
    <ion-item  *ngFor="let entry of post.postTags" lines="none" class="checkbox-tag rounded-tag">
      <div>
        <ion-label class="tag-label">{{entry.val}}</ion-label>
      <ion-checkbox [(ngModel)]="entry.isChecked" disabled="true"></ion-checkbox>
    </div>
    </ion-item>
  </ion-row>
</div>

  <hr class="details-divider">
  <div class="reviews-wrapper">
  <ion-row>
     <ion-col>
        <h3 class="detail-title">Reviews</h3>
    </ion-col>
  <ion-col>
      <ion-buttons> 
        <ion-button (click)="openReviewModal()">Add a review</ion-button>
      </ion-buttons>
    </ion-col>
   </ion-row>
    <div class="reviews-list">
      <div class="review-item" *ngFor="let review of reviews">
        <ion-row class="review-user">
          <!--<ion-col size="2" class="user-image-wrapper">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="review-user-image" [src]="'./assets/sample-images/food/user-image-1.png'" [alt]="'review user image'"></app-image-shell>
            </app-aspect-ratio>
          </ion-col>-->
          <ion-col class="user-brief-wrapper">
            <h5 class="review-user-name">
              <app-text-shell [data]="review.addedByUsername"></app-text-shell>
            </h5>
            <ion-row class="details-scores user-scores">
              <ion-col class="score-item user-score">
                <p class="review-message">
                  <app-text-shell [data]="review.review" lines="5"></app-text-shell>
                  <ion-buttons>
                    <ion-button (click)="commentBox=!commentBox">reply</ion-button>
                  </ion-buttons>
                  <ion-item *ngIf="commentBox" class="input-item">
                    <ion-label position="floating">Comments</ion-label>
                    <ion-textarea rows="3"  placeholder="Enter more information here..." type="text" clearInput ></ion-textarea>
                    <ion-buttons>
                      <ion-button (click)="submitReview(review.key)">reply</ion-button>
                    </ion-buttons>
                  </ion-item>
                </p>
              </ion-col>

            </ion-row>
          </ion-col>
          <ion-col class="review-info-wrapper">
            <span class="review-date">
              <app-text-shell [data]="review.dateCreated | DateFormat"></app-text-shell>
            </span>
            <div class="review-rating" [attr.ratingBase]="review.rating">
              <app-text-shell [data]="review.rating"></app-text-shell>
            </div>
          </ion-col>
        </ion-row>
     </div>
    </div>
  </div>
</div>
</ion-content>
