:host {
  // --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
  --page-highlighted-background: var(--ion-color-secondary-tint);
}


ion-content ion-card{
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

ion-card ion-card-header{
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}
.title {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium','Roboto-Medium', 'Segoe UI Semibold', sans-serif;
  font-weight: 500px;
  font-size: 18px;
  line-height: 23px;
  margin: 1 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact-card-content {
  --background: var(--page-background);

  .user-preferences-wrapper {
    .header {
      width: 100%;
    }

    .message {
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
      font-weight: 400px;
      font-size: 14px;
      line-height: 19px;

         
  .tags-wrapper {
    padding-top: calc(var(--page-margin) / 1);
    padding-bottom: calc(var(--page-margin) / 3);
    .tags {
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    .item-rating {
      padding-right: calc(var(--page-margin) / 2);
      font-size: 14px;
      font-weight: bold;
      width: 100%;
      display: block;
      text-align: center;
      &[ratingBase="0"] {
        color: #aa6c39;
      }
      &[ratingBase="1"] {
        color: #aa6c39;
      }
    }
    }
  }
 }

    .subtitle{
      line-height: 20px;
      width: 100%;
    }

    .subtitle img {
      height: 30px;
      width: 30px;
      vertical-align: middle;
      display: inline-block;

    }

    .icon {
      display: inline-block;
      vertical-align: middle;
    }
     
   .reviews {
      margin-bottom: 15px;
    }
    .text{
      display: inline-block;
      vertical-align: middle;
      padding-left: 3px;
      text-transform: capitalize !important;
      font-size: 12px;
    }
    .addedByTitle {
      margin-left: 10px;
      line-height: 5px;
      text-decoration: none;
      letter-spacing: 1px;
    }
    .addedByDate {
     margin-left: 10px;
     font-style: italic;
     font-size: 12px;
     }
     
   .addedByImg {
       width: 45px;
       float: left;
       vertical-align: middle;

     }

    .addedByImgReview {
      width: 50px;
      height: 50px;
      margin-left: 10px;
      float: left;
      vertical-align: middle;
      border-radius: 50%;
    }
    .addedByTitleReview {
      font-size: 12px;
      margin-left: 10px;
      line-height: 5px;
      text-decoration: none;
      letter-spacing: 1px;
    }

    .addedByDateReview {
      font-style: italic;
      font-size: 10px;
      letter-spacing: normal !important;
    }

    .messageReview {
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
      font-weight: 400px;
      font-size: 12px;
      line-height: 15px;
      margin-left: 10px;
    }

     .review {
       width:90%;
     }
  }


  .details-divider {
    margin: 3px var(--page-margin) 3px;
    border-top: 2px solid rgba(var(--ion-color-light-shade-rgb), .4);
  }

  .reviews-wrapper {
    // padding: 0px var(--page-margin) var(--page-margin);
    .reviews-list {
      margin-bottom: calc(var(--page-margin) / 2);
      .review-item {
        // box-sizing: border-box;
        margin-block-start: 0px;
        margin-block-end: 0px;
        text-rendering: optimizelegibility;
        -webkit-font-smoothing: antialiased;
        font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        background-color: rgb(249, 249, 250);
        max-width: 100%;
        // padding-left: 8px;
        // padding-right: 8px;
        vertical-align: bottom;
        // border-color: rgb(239, 241, 243);
        // border-radius: 6px;
        // border-style: solid;
        // border-width: 1px;
      
      .icon {
        display: inline-block;
        vertical-align: middle;
      }
         
      .text{
        display: inline-block;
        vertical-align: middle;
        padding-left: 3px;
        text-transform: capitalize !important;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, "Roboto", "Segoe UI", Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
      }

      .review-date{
        padding-top: 3px;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, "Roboto", "Segoe UI", Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
      }

      .review img {
      height: 25px;
      width: 25px;
      vertical-align: middle;
      display: inline-block;
      }
    }
  }

    .detail-title {
      font-size: 16px;
      font-weight: 500;
      color: var(--ion-color-dark-tint);
      margin: 0px;
      margin-bottom: var(--page-margin);
    }

    .detail-title-reply {
      font-size: 16px;
      font-weight: 500;
      color: var(--ion-color-dark-tint);
      margin: 0px;
    }

    .placeholder {
      box-sizing: border-box;
      margin-block-start: 0px;
      margin-block-end: 0px;
      text-rendering: optimizelegibility;
      -webkit-font-smoothing: antialiased;
      font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      -webkit-box-flex: 1;
      flex-grow: 1;
    }

}

}

.postMedia {
  width:50px;
}
.comment {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  resize: none;
  width: 100%;
  z-index: 2;
  background: none;
  letter-spacing: inherit;
  border-radius: 20px;
}
