<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-buttons color="primary" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title" color="primary">{{title}}</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content fullscreen class="contact-card-content"> 
<div>
    <ion-card>
      <ion-row class="user-preferences-wrapper">
        <ion-card-header class="header">
          <ion-row>
            <ion-col size=10>
          <ion-card-subtitle class="addedBy">
            <img class="addedByImg" src="{{post.avatar}}" onError="this.src='./assets/images/default-dp.png'" /> 
             <p><a class="addedByTitle" (click)="viewUser(post.addedByUser.addedByKey)" ><b>{{post.addedByUser.addedByUsername}}</b></a><!-- <img *ngIf="item.showNewIcon" class="newIcon" src="./assets/icon/new.svg" />  -->
              <br/>
             <span class="addedByDate">posted {{post.date.toDate() | DateFormat}}</span><br/>
            <a (click)="viewGroup(post.groupId)" class="addedByTitle">in <b>{{post.groupName}}</b></a></p>
          </ion-card-subtitle>
        </ion-col>
        <ion-col size=2>
          <ion-buttons>
            <ion-button (click)="showPostOptions(post)">
              <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        </ion-row>
        </ion-card-header>
      <ion-card-content class="message">
        <ion-label><b>{{post.title}}.</b> {{post.data.message}} <br/></ion-label>
          <ion-row class="tags-wrapper">
            <div class="tags" *ngFor="let tag of post.postTags">
              <span *ngIf="tag.isChecked" class="item-rating" [attr.ratingBase]="1">#{{tag.val}}</span>
              <span *ngIf="!tag.isChecked" class="item-rating" [attr.ratingBase]="0">#{{tag.val}}</span>
            </div>
          </ion-row>
      </ion-card-content>
    </ion-row>
    
  <ion-row class="user-preferences-wrapper message">
    <ion-col size=3>
      <ion-buttons>
        <ion-button (click)="submitReactionSmile()">
       <div *ngIf="post.showSmiley"><ion-icon size="small" class="icon" src="./assets/icon/smile-active.svg" ></ion-icon> <span class="text">Thanks</span></div> 
       <div *ngIf="!post.showSmiley"><ion-icon size="small" class="icon"  src="./assets/icon/smile.svg" ></ion-icon> <span class="text">Thanks</span></div> 
      </ion-button>
      </ion-buttons> 
    </ion-col>
    <ion-col size=3>
      <ion-buttons>
        <ion-button (click)="submitReactionHug()">
       <div *ngIf="post.showHug"><ion-icon size="small" class="icon" src="./assets/icon/hug-active.svg" ></ion-icon> <span class="text">Hug</span></div> 
       <div *ngIf="!post.showHug"><ion-icon size="small" class="icon"  src="./assets/icon/hug.svg" ></ion-icon> <span class="text">Hug</span></div> 
      </ion-button>
      </ion-buttons> 
    </ion-col>
    <ion-col size=2></ion-col>
    <ion-col size=2>
      <ion-buttons>
        <ion-button (click)="showReactionsList()">
      <div><ion-icon size="small" src="./assets/icon/smile-active.svg" class="icon"></ion-icon><ion-icon size="small" src="./assets/icon/hug-active.svg" class="icon"></ion-icon> <span class="text">{{post.totalReactionCount}}</span></div>
    </ion-button>
  </ion-buttons> 
    </ion-col>
    <ion-col size=2>
      <ion-buttons>
        <ion-button>
      <div><ion-icon size="small" class="icon" name="chatbox-outline"></ion-icon> <span class="text">{{post.totalReviewCount}}</span></div>
    </ion-button>
  </ion-buttons> 
  </ion-col>
  </ion-row>

  <!-- <hr class="details-divider">
  
    <h3 class="detail-title">Selected Tags</h3> -->
  
  <hr class="details-divider">
  <div class="user-preferences-wrapper">
    <div  >
      <div class="reviews" *ngFor="let r of postReviews">
        <ion-row>
          <ion-col size="2">
              <img class="addedByImgReview" src="{{r.addedByUser.addedByImg}}" onError="this.src='./assets/images/default-dp.png'" />
          </ion-col>
          <ion-col class="review" size="9">
              <span class="addedByTitleReview"><a (click)="viewUser(r.addedByUser.addedByKey)" >
                <b>{{post.addedByUser.addedByUsername}}</b></a>, <span class="addedByDateReview">{{r.dateCreated.toDate() | DateFormat}}</span>
              </span>
                  <br/>
                  <br/>
                  <div class="messageReview" [innerHTML]="r.review"></div>
            </ion-col>
      </ion-row>
     </div>
    </div>
  </div>

 </ion-card>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item *ngIf="postMedia && postMedia.length > 0">
      <div >
        <ion-col *ngFor="let media of postMedia">
          <img class="postMedia" src="{{media}}">
          <ion-buttons>
            <ion-button (click)="removeMedia()">
              <ion-icon size="small" name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </div>
    </ion-item>
    <ion-item>
      <ion-button fill="clear" (click)="attach()">
        <ion-icon size="large" name="camera-outline"></ion-icon>
      </ion-button>
      <textarea class="comment" rows="0" style="width:100%" placeholder="Type your message" [(ngModel)]="message"></textarea>
      <ion-buttons slot="end" style="margin-left:4px;">
        <ion-button color="primary" fill="clear" (click)="submitReply()" [disabled]="!message">
          send
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>

