<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center">
      <h4 class="title-text">{{title}}</h4>
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="post-container" *ngIf="post.type === 'general'">
    <ion-card class="post-card">
      <!-- Post Header -->
      <div class="post-header">
        <div class="user-info">
          <ion-avatar class="user-avatar">
            <img [src]="post.avatar" 
                 [alt]="post.addedByUser.addedByUsername"
                 (error)="$event.target.src='./assets/images/default-dp.png'">
          </ion-avatar>
          <div class="user-details">
            <div class="name-row">
              <a (click)="viewUser(post.addedByUser.addedByKey)" class="username">
                {{post.addedByUser.addedByUsername}}
              </a>
            </div>
            <div class="post-meta">
              <span class="post-time">{{post.date.toDate() | DateFormat}}</span>
              •
              <a class="group-name">
                {{post.groupName}}
              </a>
            </div>
          </div>
        </div>
        
        <ion-button fill="clear" (click)="showPostOptions(post)" class="options-button">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </div>

      <!-- Post Content -->
      <div class="post-content">
        <!-- Media Slider -->
        <ion-slides *ngIf="post.postMedia?.length" 
                    [options]="slideOptsOne" 
                    class="media-slider" 
                    pager="true">
          <ion-slide *ngFor="let media of post.postMedia">
            <img [src]="media" class="post-media" loading="lazy">
          </ion-slide>
        </ion-slides>

        <!-- Post Text -->
        <div class="post-text">
          <h3 *ngIf="post.title" class="post-title">{{post.title}}</h3>
          <p class="post-message">{{post.data.message}}</p>
        </div>

        <!-- Tags -->
        <!-- <div class="tags-container" *ngIf="post.postTags?.length">
          <ion-chip *ngFor="let tag of post.postTags" 
                    [class.active]="tag.isChecked" 
                    class="tag-chip">
            #{{tag.val}}
          </ion-chip>
        </div> -->

        <!-- Reactions Bar -->
        <div class="reactions-bar">
          <ion-row>
            <ion-col>
              <ion-buttons>
                <ion-button (click)="showEmojiPicker($event, post)">
                  <!-- Keep your existing Thanks/Smile reaction display -->
                  <div>
                    <ion-icon *ngIf="post.reactionType === ''" size="medium" class="icon" src="./assets/icon/smile-inactive.svg"></ion-icon>
                    <ion-icon *ngIf="post.reactionType !== ''" size="medium" class="icon" [src]="'./assets/icon/' + post.reactionType + '.svg'"></ion-icon>
                  </div>
                </ion-button>
                <ion-button (click)="showReactionsList(post)" class="reaction-count-button">
                  <div class="reaction-count-container">
                    <div class="stacked-icons">
                      <ion-icon size="small" src="./assets/icon/smile.svg" class="icon smile"></ion-icon>
                      <ion-icon size="small" src="./assets/icon/hug.svg" class="icon hug"></ion-icon>
                    </div>
                    <span class="count-text">{{post.totalReactionCount}}</span>
                  </div>
                </ion-button>
              </ion-buttons>
            </ion-col>

            <!-- Right aligned icons -->
            <ion-col class="ion-text-end">
              <ion-buttons class="ion-justify-content-end">
                <ion-button>
                  <div class="comment-count">
                    <ion-icon size="small" class="icon" name="chatbox-outline"></ion-icon>
                    <span class="count-text">{{post.totalReviewCount}}</span>
                  </div>
                </ion-button>

                <ion-button (click)="toggleBookmark(post)">
                  <ion-icon size="small" class="icon" [name]="post.isBookmarked ? 'bookmark' : 'bookmark-outline'"></ion-icon>
                </ion-button>
                <ion-button (click)="sharePost(post)">
                  <ion-icon name="share-social-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </div>

      </div>
    </ion-card>
  </div>

  <div class="post-container" *ngIf="post?.type === 'poll'">
    <ion-card class="post-card">
      <div class="post-header">
        <div class="user-info">
          <ion-avatar class="user-avatar">
            <img [src]="post.avatar" 
                 [alt]="post.addedByUser.addedByUsername"
                 (error)="$event.target.src='./assets/images/default-dp.png'">
          </ion-avatar>
          <div class="user-details">
            <div class="name-row">
              <a (click)="viewUser(post.addedByUser.addedByKey)" class="username">
                {{post.addedByUser.addedByUsername}}
              </a>
            </div>
            <div class="post-meta">
              <span class="post-time">{{post.date.toDate() | DateFormat}}</span>
              •
              <a class="group-name">
                {{post.groupName}}
              </a>
            </div>
          </div>
        </div>
        
        <ion-button fill="clear" (click)="showPostOptions(post)" class="options-button">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </div>
  
      <div class="post-content">
        <!-- Poll Title -->
        <div class="post-text">
          <h3 class="post-title">{{post?.title}}</h3>
        </div>
  
        <!-- Poll Options Form -->
        <form [formGroup]="pollOptionForm" *ngIf="!voted && !pollClosed">
          <ion-list>
            <ion-radio-group formControlName="selected_poll_option">
              <ion-item *ngFor="let option of post?.data?.pollOptions; let i = index">
                <ion-label>{{option?.name}}</ion-label>
                <ion-radio slot="start" [value]="i.toString()"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-button expand="block" 
                      (click)="vote()" 
                      [disabled]="!pollOptionForm.valid">
            Submit Vote
          </ion-button>
        </form>
  
        <!-- Poll Results -->
        <div class="poll-results-wrapper" *ngIf="voted || pollClosed">
          <h4>Results</h4>
          <div class="poll-chart">
            <canvas baseChart
                  [datasets]="chartData" 
                  [labels]="chartLabels" 
                  [options]="chartOptions" 
                  [colors]="chartColors"
                  [legend]="showLegend" 
                  [chartType]="chartType">
            </canvas>
          </div>
        </div>
        <div class="poll-status" *ngIf="pollClosed">
          <ion-note color="medium">
            <ion-icon name="time-outline"></ion-icon>
            Poll ended
          </ion-note>
        </div>
                <!-- Reactions Bar -->
                <div class="reactions-bar">
                  <ion-row>
                    <ion-col>
                      <ion-buttons>
                        <ion-button (click)="showEmojiPicker($event, post)">
                          <!-- Keep your existing Thanks/Smile reaction display -->
                          <div>
                            <ion-icon *ngIf="post.reactionType === ''" size="medium" class="icon" src="./assets/icon/smile-inactive.svg"></ion-icon>
                            <ion-icon *ngIf="post.reactionType !== ''" size="medium" class="icon" [src]="'./assets/icon/' + post.reactionType + '.svg'"></ion-icon>
                          </div>
                        </ion-button>
                        <ion-button (click)="showReactionsList(post)" class="reaction-count-button">
                          <div class="reaction-count-container">
                            <div class="stacked-icons">
                              <ion-icon size="small" src="./assets/icon/smile.svg" class="icon smile"></ion-icon>
                              <ion-icon size="small" src="./assets/icon/hug.svg" class="icon hug"></ion-icon>
                            </div>
                            <span class="count-text">{{post.totalReactionCount}}</span>
                          </div>
                        </ion-button>
                      </ion-buttons>
                    </ion-col>
        
                    <!-- Right aligned icons -->
                    <ion-col class="ion-text-end">
                      <ion-buttons class="ion-justify-content-end">
                        <ion-button>
                          <div class="comment-count">
                            <ion-icon size="small" class="icon" name="chatbox-outline"></ion-icon>
                            <span class="count-text">{{post.totalReviewCount}}</span>
                          </div>
                        </ion-button>
        
                        <ion-button (click)="toggleBookmark(post)">
                          <ion-icon size="small" class="icon" [name]="post.isBookmarked ? 'bookmark' : 'bookmark-outline'"></ion-icon>
                        </ion-button>
                        <ion-button (click)="sharePost(post)">
                          <ion-icon name="share-social-outline"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-col>
                  </ion-row>
                </div>
      </div>
    </ion-card>
  </div>
  
  
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row lines="none" class="uploads item-text-wrap" *ngIf="reviewMedia && reviewMedia.length > 0">
      <div class="img-wrap" *ngFor="let media of reviewMedia">
          <ion-thumbnail slot="start">
            <span class="close" (click)="removeMedia(media)">&times;</span>
            <ion-img [src]="media"></ion-img>
          </ion-thumbnail>
        </div>
    </ion-row>
    <ion-item>
      <ion-button fill="clear" (click)="attach()" [disabled]="reviewMedia.length >= 1">
        <ion-icon size="large" name="camera-outline"></ion-icon>
      </ion-button>
      <ion-textarea class="comment" rows="0" placeholder="Type your message" [(ngModel)]="message"></ion-textarea>
       <ion-buttons slot="end">
        <ion-button fill="clear" (click)="submitReply()" [disabled]="!message && !uploadingImage">
          <ion-icon size="large" color="secondary" name="arrow-forward-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>

