:host {
  .search-toolbar {
    --background: transparent;
    padding-bottom: 8px;

    .custom-searchbar {
      --background: var(--ion-color-light);
      --border-radius: 12px;
      --box-shadow: none;
      --placeholder-color: var(--ion-color-medium);
      --icon-color: var(--ion-color-medium);
      --color: var(--ion-color-dark);
      padding: 0;
      height: 46px;
      
      .searchbar-input {
        font-size: 16px;
        line-height: 24px;
      }

      .searchbar-search-icon {
        width: 20px;
        height: 20px;
      }

      .searchbar-clear-button {
        width: 40px;
        height: 40px;
      }
    }
  }

  .category-header {
    h2 {
      font-size: 18px;
      font-weight: 500;
      color: var(--ion-color-dark);
    }
  }

  ion-list {
    background: transparent;
  }



  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  ion-item {
    --background: transparent;
    --padding-start: 0;  // Important: Set to 0 since we're using list padding
    --padding-end: 0;    // Important: Set to 0 since we're using list padding
    --inner-padding-end: 0;
    margin-bottom: 8px;
    
    ion-thumbnail {
      --size: 60px;
      --border-radius: 8px;
      margin-right: 16px;
    }
  }

  .join-group-btn {
    --padding-start: 16px;
    --padding-end: 16px;
    --border-radius: 8px;
    
    &[disabled] {
      opacity: 1; // Keep full opacity even when disabled
      --background: var(--ion-color-success);
      --color: var(--ion-color-success-contrast);
    }
  
    ion-icon {
      margin-right: 4px;
    }
  }
}
