:host {
    --page-margin: var(--app-narrow-margin);
    --page-background: var(--app-background);
 }
 
 ion-searchbar {
   --border-radius: 30px;
 }

.filters-toolbar {
   --padding-start: var(--page-margin);
   --padding-end: var(--page-margin);
   // --padding-top: var(--page-margin);

   .searchbar-row {
     --ion-grid-column-padding: 0px;
 
     .searchbar {
       padding: 0px;
       height:30px;
       border-radius: 20px;
       // override Ionic fixed height
       // height: 100%;
       // Learn more about CSS contain property here: https://termvader.github.io/css-contain/
       //  contain: content;
     }

   }

 }

 .inputs-list {
    padding: var(--page-margin) var(--page-margin) calc(var(--page-margin) * 2);

    .header {
      font-size: 14px;
    }
    .error-container {
      .error-message {
        margin: calc(var(--page-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
          padding-inline-end: calc(var(--page-margin) / 2);
          flex-shrink: 0;
        }
      }
      }
  }

  .toggle-text {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow: hidden; 
    text-overflow: ellipsis;
  
    .group-subheading {
      font-weight: 400;
      font-size: 10px;
    }
  }