<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Poll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
    <form class="validations-form" [formGroup]="pollForm" (ngSubmit)="done()">
      <ion-list class="inputs-list" lines="full">
        <ion-list-header>
          <ion-label class="header-title">What would you like to ask the group?</ion-label>
        </ion-list-header>
        <ion-item class="input-item">
          <ion-label position="floating">Poll Question</ion-label>
          <ion-input type="text" formControlName="description" clearInput placeholder="What would like to ask?"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.description">
            <div class="error-message" *ngIf="pollForm.get('description').hasError(validation.type) && (pollForm.get('description').dirty || pollForm.get('description').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label position="floating">Poll Option 1</ion-label>
          <ion-input type="text" formControlName="pollOption1" clearInput placeholder="Enter the first option"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.pollOption1">
            <div class="error-message" *ngIf="pollForm.get('pollOption1').hasError(validation.type) && (pollForm.get('pollOption1').dirty || pollForm.get('pollOption1').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        
        <ion-item class="input-item">
          <ion-label position="floating">Poll Option 2</ion-label>
          <ion-input type="text" formControlName="pollOption2" clearInput placeholder="Enter the second option"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.pollOption2">
            <div class="error-message" *ngIf="pollForm.get('pollOption2').hasError(validation.type) && (pollForm.get('pollOption2').dirty || pollForm.get('pollOption2').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label position="floating">Poll Option 3</ion-label>
          <ion-input type="text" formControlName="pollOption3" clearInput placeholder="This is optional"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="floating">Poll Option 4</ion-label>
          <ion-input type="text" formControlName="pollOption4" clearInput placeholder="This is optional"></ion-input>
        </ion-item>
      </ion-list>
 
      <ion-list class="inputs-list" lines="full">
        <ion-list-header>
          <ion-label class="header-title">Select tags relevant for the post</ion-label>
        </ion-list-header>
  
        <ion-row class="checkbox-tags rounded-checkbox-tags">
          <ion-item *ngFor="let entry of pollTags" lines="none" class="checkbox-tag">
            <ion-label class="new-tag-label">{{entry.val}}</ion-label>
            <ion-checkbox formControlName="pollTags" [(ngModel)]="entry.isChecked"></ion-checkbox>
          </ion-item>
        </ion-row>
      </ion-list>
  

      <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!pollForm.valid">Submit</ion-button>

    </form>


</ion-content>
