<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Poll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
    <form class="validations-form" [formGroup]="pollForm" (ngSubmit)="submitPollForm()">
      <ion-list class="inputs-list" lines="full">
        <ion-list-header>
          <ion-label class="header-title">What would you like to ask the group?</ion-label>
        </ion-list-header>
        <ion-item class="input-item">
          <ion-label position="floating">Poll Question</ion-label>
          <ion-input type="text" formControlName="description" clearInput placeholder="What would like to ask?"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.description">
            <div class="error-message" *ngIf="pollForm.get('description').hasError(validation.type) && (pollForm.get('description').dirty || pollForm.get('description').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label position="floating">Poll Option 1</ion-label>
          <ion-input type="text" formControlName="pollOption1" clearInput placeholder="Enter the first option"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.pollOption1">
            <div class="error-message" *ngIf="pollForm.get('pollOption1').hasError(validation.type) && (pollForm.get('pollOption1').dirty || pollForm.get('pollOption1').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        
        <ion-item class="input-item">
          <ion-label position="floating">Poll Option 2</ion-label>
          <ion-input type="text" formControlName="pollOption2" clearInput placeholder="Enter the second option"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.pollOption2">
            <div class="error-message" *ngIf="pollForm.get('pollOption2').hasError(validation.type) && (pollForm.get('pollOption2').dirty || pollForm.get('pollOption2').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label position="floating">Poll Option 3</ion-label>
          <ion-input type="text" formControlName="pollOption3" clearInput placeholder="This is optional"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="floating">Poll Option 4</ion-label>
          <ion-input type="text" formControlName="pollOption4" clearInput placeholder="This is optional"></ion-input>
        </ion-item>
      </ion-list>
 
      <ion-list class="inputs-list" lines="full">
        <ion-list-header>
          <ion-label class="header-title">Select relevant tags</ion-label>
        </ion-list-header>
  
        <div class="reviews-wrapper">
        <ion-row>
          <div class="tags" formArrayName="tags" *ngFor="let entry of pollForm.controls.tags.controls; let i = index">
            <ion-label *ngIf="postTags[i] === undefined || !postTags[i].isChecked" class="item-rating" [attr.ratingBase]="0">{{postTags[i].val}}</ion-label>
            <ion-label *ngIf="postTags[i] !== undefined && postTags[i].isChecked" class="item-rating" [attr.ratingBase]="1">{{postTags[i].val}}</ion-label>  
            <ion-checkbox slot="start" [formControlName]="i" [(ngModel)]="postTags[i].isChecked"></ion-checkbox>
          </div>
        </ion-row>

        <div class="error-container">
          <ng-container *ngFor="let validation of validations.tags">
            <div class="error-message" *ngIf="pollForm.get('tags').hasError(validation.type) && (pollForm.get('tags').dirty || pollForm.get('tags').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        </div>
      </ion-list>
      <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!pollForm.valid">Submit</ion-button>
  </form>
</ion-content>
