<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="filters-content notifications-content">
  <div padding>
    <h1 class="header">{{poll.description}}</h1>
    <p class="sub-header" *ngIf="!voted && !pollClosed">* Please vote to see results</p>
  </div>
  <form [formGroup]="pollOptionForm">
  <ion-list class="radio-list" lines="full" *ngIf="!voted && !pollClosed">
    <ion-radio-group class="radio-group" formControlName="selected_poll_option">
      <ion-item class="radio-item">
        <ion-label class="radio-label">{{poll.pollOptions[0].name}}</ion-label>
        <ion-radio slot="start" color="secondary" value="0"></ion-radio>
      </ion-item>
      <ion-item class="radio-item">
        <ion-label class="radio-label">{{poll.pollOptions[1].name}}</ion-label>
        <ion-radio slot="start" color="secondary" value="1"></ion-radio>
      </ion-item>
      <ion-item class="radio-item" *ngIf="poll.pollOptions[2] != null">
        <ion-label class="radio-label">{{poll.pollOptions[2].name}}</ion-label>
        <ion-radio slot="start" color="secondary" value="2"></ion-radio>
      </ion-item>
      <ion-item class="radio-item" *ngIf="poll.pollOptions[3] != null">
        <ion-label class="radio-label">{{poll.pollOptions[3].name}}</ion-label>
        <ion-radio slot="start" color="secondary" value="3"></ion-radio>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating">Comments</ion-label>
        <ion-textarea rows="6"  placeholder="Enter more information here..." type="text" formControlName="comments" clearInput placeholder="Enter any additional comments that might help other members (optional) ..."></ion-textarea>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  </form>
  <div>
  <ion-button *ngIf="!voted && !pollClosed" class="submit-btn" type="submit" expand="block" (click)="vote()" fill="outline" [disabled]="!pollOptionForm.valid">Submit</ion-button>
  </div>
  <div padding *ngIf="voted || pollClosed">
    <canvas baseChart [data]="chartData" [labels]="optionsArray" [chartType]="chartType"></canvas>
    <h1>Thank you for voting!</h1>
  </div>

  <hr class="details-divider">
  <div class="reviews-wrapper">
    <h3 class="detail-title">Reviews</h3>
    <div class="reviews-list">
      <div class="review-item" *ngFor="let comment of comments">
        <ion-row class="review-user">
          <ion-col size="2" class="user-image-wrapper">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="review-user-image" [src]="'./assets/sample-images/food/user-image-1.png'" [alt]="'review user image'"></app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="user-brief-wrapper">
            <h5 class="review-user-name">
              <app-text-shell [data]="comment.addedByUsername"></app-text-shell>
            </h5>

          </ion-col>
          <ion-col class="review-info-wrapper">
            <span class="review-date">
              <app-text-shell [data]="comment.dateCreated | DateFormat"></app-text-shell>
            </span>
          </ion-col>
        </ion-row>
        <p class="review-message">
          <app-text-shell [data]="comment.comment" lines="5"></app-text-shell>
        </p>
      </div>
    </div>

  </div>

</ion-content>
