
:host {
    --page-margin: var(--app-narrow-margin);
  }

  .forms-validations-content {
    .validations-form {
     margin-bottom: calc(var(--page-margin) * 2);
 
     .inputs-list {
       padding: var(--page-margin) var(--page-margin) calc(var(--page-margin) * 2);
 
       .header {
         font-size: 14px;
       }
       .error-container {
         .error-message {
           margin: calc(var(--page-margin) / 2) 0px;
           display: flex;
           align-items: center;
           color: var(--ion-color-danger);
           font-size: 14px;
 
           ion-icon {
             padding-inline-end: calc(var(--page-margin) / 2);
             flex-shrink: 0;
           }
         }
         }
     }
 
     .submit-btn {
       margin: var(--page-margin);
     }
   }
 
 }

  