<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons *ngIf="step==2" slot="end">
      <ion-button *ngIf="tab=='contact'" color="secondary" class="ion-text-capitalize" [disabled]="!contactForm.valid" (click)="submitContactForm()">Post</ion-button>
      <ion-button *ngIf="tab=='upload'" color="secondary" class="ion-text-capitalize" [disabled]="!uploadForm.valid" (click)="submitUploadForm()">Post</ion-button>
      <ion-button *ngIf="tab=='link'" color="secondary" class="ion-text-capitalize" [disabled]="!weblinkForm.valid" (click)="submitLinkForm()">Post</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment *ngIf="step==2" color="secondary" [(ngModel)]="tab" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="contact">
      Contact
    </ion-segment-button>
    <ion-segment-button value="upload">
      Upload
    </ion-segment-button>
    <ion-segment-button value="link">
      Link
    </ion-segment-button>
  </ion-segment>
</ion-header> 

<ion-content  class="forms-validations-content">
  <div *ngIf="step==1"> 
    <div *ngIf="groups && groups.length > 0">
      <ion-list>
        <ion-item text-wrap *ngFor="let group of groups" (click)="selectGroup(group.$key)">
          <ion-thumbnail slot="start">
            <img src="{{group.img}}" onError="this.src='./assets/images/default-group.png'">
          </ion-thumbnail>
          <ion-label>
              <b>{{group.name}}</b><br/>
              {{group.description}}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div *ngIf="step==2">
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'contact'">
      <form class="validations-form" [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
        <ion-list class="inputs-list" lines="full">
          <ion-list-header class="header">
            posting in &nbsp;<ion-label><b>{{group.name}}</b></ion-label>
          </ion-list-header>
          <ion-item class="input-item">
            <ion-input type="text" formControlName="title" clearInput placeholder="Enter a short description"></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-input type="text" formControlName="name" clearInput placeholder="Enter the name of the contact"></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-textarea rows="6"  formControlName="address" clearInput placeholder="Enter the full address of the contact"></ion-textarea>
          </ion-item>
          <ion-item class="input-item">
            <ion-input type="text" formControlName="phones" clearInput placeholder="Enter one or more phone numbers (comma separated)"></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-input type="text" formControlName="email" clearInput placeholder="Enter an email address if available"></ion-input>
          </ion-item>
        </ion-list>
        <ion-list class="inputs-list" lines="full">
          <ion-list-header>
            <ion-label class="header-title">Select relevant tags</ion-label>
          </ion-list-header>
    
          <div class="reviews-wrapper">
          <ion-row>
            <div class="tags" formArrayName="tags" *ngFor="let entry of contactForm.controls.tags.controls; let i = index">
              <ion-label *ngIf="postTags[i] === undefined || !postTags[i].isChecked" class="item-rating" [attr.ratingBase]="0">{{postTags[i].val}}</ion-label>
              <ion-label *ngIf="postTags[i] !== undefined && postTags[i].isChecked" class="item-rating" [attr.ratingBase]="1">{{postTags[i].val}}</ion-label>  
              <ion-checkbox slot="start" [formControlName]="i" [(ngModel)]="postTags[i].isChecked"></ion-checkbox>
            </div>
          </ion-row>
  
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.tags">
              <div class="error-message" *ngIf="contactForm.get('tags').hasError(validation.type) && (contactForm.get('tags').dirty || contactForm.get('tags').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          </div>
        </ion-list>
  
        <!-- <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!contactForm.valid">Submit</ion-button> -->

      </form>
    </div>
    <div *ngSwitchCase="'upload'">
   <form class="validations-form" [formGroup]="uploadForm" (ngSubmit)="submitUploadForm()">
        <ion-list class="inputs-list" lines="full">
          <ion-list-header class="header">
            posting in &nbsp;<ion-label><b>{{group.name}}</b></ion-label>
          </ion-list-header>
          <ion-item class="input-item">
            <ion-input type="text" formControlName="title" clearInput placeholder="Enter a short description"></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-buttons>
              <ion-button expand="block" color="secondary" (click)="upload()"><ion-icon name="attach"></ion-icon>Attach a File/Document</ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
        <ion-list class="inputs-list" lines="full">
          <ion-list-header>
            <ion-label class="header-title">Select relevant tags</ion-label>
          </ion-list-header>
    
          <div class="reviews-wrapper">
          <ion-row>
            <div class="tags" formArrayName="tags" *ngFor="let entry of uploadForm.controls.tags.controls; let i = index">
              <ion-label *ngIf="postTags[i] === undefined || !postTags[i].isChecked" class="item-rating" [attr.ratingBase]="0">{{postTags[i].val}}</ion-label>
              <ion-label *ngIf="postTags[i] !== undefined && postTags[i].isChecked" class="item-rating" [attr.ratingBase]="1">{{postTags[i].val}}</ion-label>  
              <ion-checkbox slot="start" [formControlName]="i" [(ngModel)]="postTags[i].isChecked"></ion-checkbox>
            </div>
          </ion-row>
  
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.tags">
              <div class="error-message" *ngIf="uploadForm.get('tags').hasError(validation.type) && (uploadForm.get('tags').dirty || uploadForm.get('tags').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          </div>
        </ion-list>
  
        <!-- <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!uploadForm.valid">Submit</ion-button> -->

      </form>
    </div>
    <div *ngSwitchCase="'link'">
      <form class="validations-form" [formGroup]="weblinkForm" (ngSubmit)="submitLinkForm()">
        <ion-list class="inputs-list" lines="full">
          <ion-list-header class="header">
            posting in &nbsp;<ion-label><b>{{group.name}}</b></ion-label>
          </ion-list-header>
          <ion-item class="input-item">
            <ion-input type="text" formControlName="title" clearInput placeholder="Enter a short description"></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-input type="text" formControlName="link" clearInput placeholder="Paste or type the link" (focusout)="linkFocusOut()"></ion-input>
          </ion-item>
          <div>
            <hr/>
            <div>
              <div>
                <img *ngIf="metaicon" [src]="metaicon"/>      
              </div>
              <div>
                <h2>{{metatitle}}</h2>
                <span>{{metadescription}}</span>
              </div>
              <div> <h6></h6>{{metasite}}</div>
            </div>
          </div>
        </ion-list>
          <ion-list class="inputs-list" lines="full">
            <ion-list-header>
              <ion-label class="header-title">Select relevant tags</ion-label>
            </ion-list-header>
      
            <div class="reviews-wrapper">
            <ion-row>
              <div class="tags" formArrayName="tags" *ngFor="let entry of weblinkForm.controls.tags.controls; let i = index">
                <ion-label *ngIf="postTags[i] === undefined || !postTags[i].isChecked" class="item-rating" [attr.ratingBase]="0">{{postTags[i].val}}</ion-label>
                <ion-label *ngIf="postTags[i] !== undefined && postTags[i].isChecked" class="item-rating" [attr.ratingBase]="1">{{postTags[i].val}}</ion-label>  
                <ion-checkbox slot="start" [formControlName]="i" [(ngModel)]="postTags[i].isChecked"></ion-checkbox>
              </div>
            </ion-row>
    
            <div class="error-container"> 
              <ng-container *ngFor="let validation of validations.tags">
                <div class="error-message" *ngIf="weblinkForm.get('tags').hasError(validation.type) && (weblinkForm.get('tags').dirty || weblinkForm.get('tags').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
            </div>
          </ion-list>
  
        <!-- <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!weblinkForm.valid">Submit</ion-button> -->

      </form> 
    </div>
  </div>
</div>
</ion-content>