<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add a Resource</ion-title>
  </ion-toolbar>
  <ion-segment color="primary" [(ngModel)]="tab" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="contact">
      Contact
    </ion-segment-button>
    <ion-segment-button value="upload">
      Upload
    </ion-segment-button>
    <ion-segment-button value="link">
      Link
    </ion-segment-button>
  </ion-segment>
</ion-header> 

<ion-content  class="forms-validations-content">
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'contact'">
      <form class="validations-form" [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
        <ion-list class="inputs-list" lines="full">
          <ion-list-header>
            <ion-label class="header-title">Enter the details of the Contact</ion-label>
          </ion-list-header>
          <ion-item class="input-item">
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" formControlName="title" clearInput placeholder="Enter a short description"></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.title">
              <div class="error-message" *ngIf="contactForm.get('title').hasError(validation.type) && (contactForm.get('title').dirty || contactForm.get('title').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <ion-item class="input-item">
            <ion-label position="floating">Name:</ion-label>
            <ion-input type="text" formControlName="name" clearInput placeholder="Enter the name of the contact"></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.name">
              <div class="error-message" *ngIf="contactForm.get('name').hasError(validation.type) && (contactForm.get('name').dirty || contactForm.get('name').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <ion-item class="input-item">
            <ion-label position="floating">Address:</ion-label>
            <ion-textarea rows="6"  formControlName="address" clearInput placeholder="Enter the full address of the contact"></ion-textarea>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.address">
              <div class="error-message" *ngIf="contactForm.get('address').hasError(validation.type) && (contactForm.get('address').dirty || contactForm.get('address').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <ion-item class="input-item">
            <ion-label position="floating">Phone No:</ion-label>
            <ion-input type="text" formControlName="phones" clearInput placeholder="Enter one or more phone numbers (comma separated)"></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.contactForm">
              <div class="error-message" *ngIf="contactForm.get('phones').hasError(validation.type) && (contactForm.get('phones').dirty || contactForm.get('phones').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <ion-item class="input-item">
            <ion-label position="floating">Email:</ion-label>
            <ion-input type="text" formControlName="email" clearInput placeholder="Enter an email address if available"></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.contactForm">
              <div class="error-message" *ngIf="contactForm.get('email').hasError(validation.type) && (contactForm.get('email').dirty || contactForm.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </ion-list>
        <ion-list class="inputs-list" lines="full">
          <ion-list-header>
            <ion-label class="header-title">Select relevant tags</ion-label>
          </ion-list-header>
    
          <div class="reviews-wrapper">
          <ion-row>
            <div class="tags" formArrayName="tags" *ngFor="let entry of contactForm.controls.tags.controls; let i = index">
              <ion-label *ngIf="postTags[i] === undefined || !postTags[i].isChecked" class="item-rating" [attr.ratingBase]="0">{{postTags[i].val}}</ion-label>
              <ion-label *ngIf="postTags[i] !== undefined && postTags[i].isChecked" class="item-rating" [attr.ratingBase]="1">{{postTags[i].val}}</ion-label>  
              <ion-checkbox slot="start" [formControlName]="i" [(ngModel)]="postTags[i].isChecked"></ion-checkbox>
            </div>
          </ion-row>
  
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.tags">
              <div class="error-message" *ngIf="contactForm.get('tags').hasError(validation.type) && (contactForm.get('tags').dirty || contactForm.get('tags').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          </div>
        </ion-list>
  
        <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!contactForm.valid">Submit</ion-button>

      </form>
    </div>
    <div *ngSwitchCase="'upload'">
   <form class="validations-form" [formGroup]="uploadForm" (ngSubmit)="submitUploadForm()">
        <ion-list class="inputs-list" lines="full">
          <ion-list-header>
            <ion-label class="header-title">Enter the details of the Document</ion-label>
          </ion-list-header>
          <ion-item class="input-item">
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" formControlName="title" clearInput placeholder="Enter a short description"></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.title">
              <div class="error-message" *ngIf="uploadForm.get('title').hasError(validation.type) && (uploadForm.get('title').dirty || uploadForm.get('title').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <ion-item class="input-item">
            <ion-buttons>
              <ion-button color="danger" (click)="upload()" class="submit-btn" expand="block" >Attach a File/Document<ion-icon name="attach"></ion-icon></ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
        <ion-list class="inputs-list" lines="full">
          <ion-list-header>
            <ion-label class="header-title">Select relevant tags</ion-label>
          </ion-list-header>
    
          <div class="reviews-wrapper">
          <ion-row>
            <div class="tags" formArrayName="tags" *ngFor="let entry of uploadForm.controls.tags.controls; let i = index">
              <ion-label *ngIf="postTags[i] === undefined || !postTags[i].isChecked" class="item-rating" [attr.ratingBase]="0">{{postTags[i].val}}</ion-label>
              <ion-label *ngIf="postTags[i] !== undefined && postTags[i].isChecked" class="item-rating" [attr.ratingBase]="1">{{postTags[i].val}}</ion-label>  
              <ion-checkbox slot="start" [formControlName]="i" [(ngModel)]="postTags[i].isChecked"></ion-checkbox>
            </div>
          </ion-row>
  
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.tags">
              <div class="error-message" *ngIf="uploadForm.get('tags').hasError(validation.type) && (uploadForm.get('tags').dirty || uploadForm.get('tags').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          </div>
        </ion-list>
  
        <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!uploadForm.valid">Submit</ion-button>

      </form>
    </div>
    <div *ngSwitchCase="'link'">
      <form class="validations-form" [formGroup]="weblinkForm" (ngSubmit)="submitLinkForm()">
        <ion-list class="inputs-list" lines="full">
          <ion-list-header>
            <ion-label class="header-title">Enter the details of the link</ion-label>
          </ion-list-header>
          <ion-item class="input-item">
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" formControlName="title" clearInput placeholder="Enter a short description"></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.title">
              <div class="error-message" *ngIf="weblinkForm.get('title').hasError(validation.type) && (weblinkForm.get('title').dirty || weblinkForm.get('title').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>

          <ion-item class="input-item">
            <ion-label position="floating">Weblink</ion-label>
            <ion-input type="text" formControlName="link" clearInput placeholder="Paste or type the link" (focusout)="linkFocusOut()"></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.link">
              <div class="error-message" *ngIf="weblinkForm.get('link').hasError(validation.type) && (weblinkForm.get('link').dirty || weblinkForm.get('link').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <div>
            <hr/>
            <div>
              <div>
                <img *ngIf="metaicon" [src]="metaicon"/>      
              </div>
              <div>
                <h2>{{metatitle}}</h2>
                <span>{{metadescription}}</span>
              </div>
              <div> <h6></h6>{{metasite}}</div>
            </div>
          </div>
        </ion-list>
          <ion-list class="inputs-list" lines="full">
            <ion-list-header>
              <ion-label class="header-title">Select relevant tags</ion-label>
            </ion-list-header>
      
            <div class="reviews-wrapper">
            <ion-row>
              <div class="tags" formArrayName="tags" *ngFor="let entry of weblinkForm.controls.tags.controls; let i = index">
                <ion-label *ngIf="postTags[i] === undefined || !postTags[i].isChecked" class="item-rating" [attr.ratingBase]="0">{{postTags[i].val}}</ion-label>
                <ion-label *ngIf="postTags[i] !== undefined && postTags[i].isChecked" class="item-rating" [attr.ratingBase]="1">{{postTags[i].val}}</ion-label>  
                <ion-checkbox slot="start" [formControlName]="i" [(ngModel)]="postTags[i].isChecked"></ion-checkbox>
              </div>
            </ion-row>
    
            <div class="error-container"> 
              <ng-container *ngFor="let validation of validations.tags">
                <div class="error-message" *ngIf="weblinkForm.get('tags').hasError(validation.type) && (weblinkForm.get('tags').dirty || weblinkForm.get('tags').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
            </div>
          </ion-list>
  
        <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!weblinkForm.valid">Submit</ion-button>

      </form> 
    </div>
  </div>
</ion-content>