<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end"> 
		<ion-button *ngIf="loggedInUserIsMember == true" (click)="newEvent()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="contact-card-content">
  <div>
      <ion-card>
          <ion-row class="user-preferences-wrapper">
              <ion-card-header class="subtitle">
                  <img src="{{event.addedByUser.addedByImg}}" onError="this.src='./assets/images/default-dp.png'" /> {{event.addedByUser.addedByUsername}}, posted {{event.dateCreated | DateFormat}}
                  <ion-card-title class="title">{{event.title}}</ion-card-title>
              </ion-card-header>
              <ion-card-content class="message">
                  {{event.eventDate}} at {{event.eventTime}}
                  <br/>
                  <br/> {{event.address}}
                  <br/>
                  <br/> {{event.link}}
              </ion-card-content>
          </ion-row>
          <ion-row class="user-preferences-wrapper message"> 
              <ion-col>
                  <ion-buttons>
                      <ion-button (click)="submitReactionEvent(event, 'Checkin')">
                          <div *ngIf="event.showCheckin">
                              <ion-icon size="small" class="icon" src="./assets/icon/checkin-active.svg"></ion-icon> <span class="text">Checkin</span></div>
                          <div *ngIf="!event.showCheckin">
                              <ion-icon size="small" class="icon" src="./assets/icon/checkin.svg"></ion-icon> <span class="text">Checkin</span></div>
                      </ion-button>
                  </ion-buttons>
              </ion-col>
              <ion-col>
                  <ion-buttons>
                      <ion-button (click)="submitReactionEvent(event, 'Thanks')">
                          <div *ngIf="event.showSmiley">
                              <ion-icon size="small" class="icon" src="./assets/icon/smile-active.svg"></ion-icon> <span class="text">Thanks</span></div>
                          <div *ngIf="!event.showSmiley">
                              <ion-icon size="small" class="icon" src="./assets/icon/smile.svg"></ion-icon> <span class="text">Thanks</span></div>
                      </ion-button>
                  </ion-buttons>
              </ion-col>
              <ion-col>
                  <ion-buttons>
                      <ion-button (click)="showEventReactionsList(event)">
                          <div>
                              <ion-icon size="small" src="./assets/icon/checkin-active.svg" class="icon"></ion-icon>
                              <ion-icon size="small" src="./assets/icon/smile-active.svg" class="icon"></ion-icon><span class="text">{{event.totalReactionCount}}</span></div>
                      </ion-button>
                  </ion-buttons>
              </ion-col>
              <ion-col>
                  <ion-buttons>
                      <ion-button>
                          <div>
                              <ion-icon size="small" src="./assets/icon/chat.svg" class="icon"></ion-icon> <span class="text">{{event.totalReviewCount}}</span></div>
                      </ion-button>
                  </ion-buttons>
              </ion-col>
          </ion-row>
          <hr class="details-divider">
          <div class="reviews-wrapper">
              <h3 class="detail-title">Selected Tags</h3>
              <ion-row>
                  <div class="tags" *ngFor="let tag of event.eventTags">
                      <span *ngIf="tag.isChecked" class="item-rating" [attr.ratingBase]="1">{{tag.val}}</span>
                      <span *ngIf="!tag.isChecked" class="item-rating" [attr.ratingBase]="0">{{tag.val}}</span>
                  </div>
              </ion-row>
          </div>
          <hr class="details-divider">
          <div class="reviews-wrapper">
              <h3 class="detail-title-reply">Replies</h3>
              <ion-row nowrap>
                  <ion-col size="9">
                      <ion-textarea class="placeholder" rows="0" placeholder="Type your message" [(ngModel)]="message">
                      </ion-textarea>
                  </ion-col>
                  <ion-col size="3">
                      <ion-buttons>
                          <ion-button (click)="attach()">
                              <ion-icon name="attach"></ion-icon>
                          </ion-button>
                          <ion-button color="primary" fill="clear" (click)="submitReply()">
                              <!-- [disabled]="!message">-->
                              <ion-icon name="send-sharp"></ion-icon>
                          </ion-button>
                      </ion-buttons>
                  </ion-col>
              </ion-row>
              <div class="reviews-list">
                  <div class="review-item" *ngFor="let r of eventReviews">
                      <ion-row>
                          <ion-col size="2" class="review">
                              <img src="{{r.addedByUser.addedByImg}}" onError="this.src='./assets/images/default-dp.png'" />
                          </ion-col>
                          <ion-col size="10">
                              <app-text-shell class="comment-detail-author-name" [data]="r.addedByUser.addedByUsername"></app-text-shell>
                              <app-text-shell [data]="r.review"></app-text-shell>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                              <app-text-shell class="review-date" [data]="r.dateCreated | DateFormat"></app-text-shell>
                          </ion-col>
                      </ion-row>
                  </div>
              </div>
          </div>

      </ion-card>
  </div>
</ion-content>