:host {
    --page-margin: var(--app-narrow-margin);
    --page-background: var(--app-background);
  }

  .user-info {
    width: 100%;
  }

  .save {
    height: 25px;
    width: 100%;
    text-transform: initial !important;
  }

  .myform {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, "Roboto", "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .toggle-text {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, "Roboto", "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .profile-summary-name {
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica-Bold', 'Roboto-Medium', 'Segoe UI Semibold', Arial-Bold, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin: 4px 0;
    display: inline-block;
  }

  .profile-component-title {
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', Helvetica-Bold, 'Roboto-Medium', 'Segoe UI Semibold', Arial-Bold, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}

.addedByDate {
  font-style: italic;
  font-size: 12px;
  }

  .logout {
    text-transform: capitalize !important;
  }

  .profile-edit-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}