:host {
  ion-thumbnail {
    --size: 60px;
    --border-radius: 8px;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent;
  }

  .join-group-btn {
    --padding-start: 16px;
    --padding-end: 16px;
    --border-radius: 8px;
    
    &[color="danger"] {
      --background: transparent;
      --color: var(--ion-color-danger);
      --border-color: var(--ion-color-danger);
      --border-style: solid;
      --border-width: 1px;
      
      &:hover {
        --background: var(--ion-color-danger);
        --color: var(--ion-color-danger-contrast);
      }
    }
  
    ion-icon {
      margin-right: 4px;
    }
  }
  .search-toolbar {
    --background: transparent;
    padding-bottom: 8px;
  
    .custom-searchbar {
      --background: var(--ion-color-light);
      --border-radius: 12px;
      --box-shadow: none;
      --placeholder-color: var(--ion-color-medium);
      --icon-color: var(--ion-color-medium);
      --color: var(--ion-color-dark);
      padding: 0;
      height: 46px;
    }
  }
  .slider-container {
    margin-top: 16px;  // Adds space after the heading
    
    .categories-slider {
      padding: 0 16px;  // Maintains consistent horizontal padding
    }
  }
  
  .category-header {
    h2 {
      font-size: 18px;
      font-weight: 500;
      color: var(--ion-color-dark);
      margin: 0;
    }
  }
  
}
