:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
  --ion-font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
}

.join {
  --border-radius: 30px
}

.slides {
  padding-left: var(--page-margin);
}

.link {
  text-decoration: none;
  color: var(--ion-color-primary);
}

.no-bottom-padding {
  --inner-padding-bottom: 0px;
  --padding-bottom: 0px;
}

.no-top-padding {
  --inner-padding-top: 0px;
  --padding-top: 0px;
}

.h2 {
  margin-top: 18px;
  font-size: 24px;
}

.listing-item {
  background-color: var(--page-background);
  
  .summary-row {
    text-align: center;
    padding-bottom: 5px;
    padding-left: 3px;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.text{
  display: inline-block;
  vertical-align: middle;
  padding-left: 3px;
  text-transform: capitalize !important;
}

.toggle-text {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  overflow: hidden; 
  text-overflow: ellipsis;

  .group-subheading {
    font-weight: 400;
    font-size: 10px;
  }
}

.slide-heading {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.slide-subheading {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  overflow: hidden; 
  text-overflow: ellipsis;
}