<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Groups</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/newgroup">Create New</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="food-listing-content">
  <ng-container *ngIf="groups && groups.length > 0">
    <div class="listing-item" *ngFor="let group of groups | groupFilter: searchGroup" (click)="viewGroup(group.key)">
      <div class="cover-wrapper">
          <app-image-shell class="cover-image add-overlay" animation="spinner" [mode]="'cover'" [src]="group.img">
            <app-aspect-ratio [ratio]="{w:35, h:15}">
              <div class="cover-icon-wrapper">
                <app-aspect-ratio [ratio]="{w: 20, h: 7}">
                  <app-image-shell class="group-icon" [src]="group.icon"></app-image-shell>
                </app-aspect-ratio>
              </div>
            </app-aspect-ratio>
          </app-image-shell>

      </div>
      <ion-row class="info-row">
        <ion-col class="description-col">
          <ion-row class="description-wrapper">
            <h3 class="item-name">
                <app-text-shell [data]="group.name"></app-text-shell>
            </h3>
            <p class="item-address">
              <app-text-shell [data]="group.description"></app-text-shell>
            </p>
            <!--<ion-row class="item-tags">
              <ion-col class="tag-wrapper" *ngFor="let tag of group.groupTags">
                <span class="item-tag">
                  <app-text-shell [data]="tag"></app-text-shell>
                </span>
              </ion-col>
            </ion-row>-->
            <ion-row class="accommodations-wrapper">
              <ion-col class="item-accommodation">
                <ion-icon class="accommodation-icon" src="./assets/sample-icons/real-estate/guests.svg"></ion-icon>
                <span class="accommodation-property">Members</span>
                <span class="accommodation-value">
                  <app-text-shell [data]="1"></app-text-shell>
                </span>
              </ion-col>
              <ion-col class="item-accommodation">
                <ion-icon class="accommodation-icon" src="./assets/sample-icons/real-estate/bedrooms.svg"></ion-icon>
                <span class="accommodation-property">Resources</span>
                <span class="accommodation-value">
                  <app-text-shell [data]="2"></app-text-shell>
                </span>
              </ion-col>
              <ion-col class="item-accommodation">
                <ion-icon class="accommodation-icon" src="./assets/sample-icons/real-estate/bathroom.svg"></ion-icon>
                <span class="accommodation-property">Polls</span>
                <span class="accommodation-value">
                  <app-text-shell [data]="3"></app-text-shell>
                </span>
              </ion-col>
              <ion-col class="item-accommodation">
                <ion-icon class="accommodation-icon" src="./assets/sample-icons/real-estate/patio.svg"></ion-icon>
                <span class="accommodation-property">Messages</span>
                <span class="accommodation-value">
                  <app-text-shell [data]="4"></app-text-shell>
                </span>
              </ion-col>
            </ion-row>
          </ion-row>

          
        </ion-col>
        <ion-col class="stats-col" size="2">
          <span class="item-rating" [attr.ratingBase]="group.members.length">
           <!-- <app-text-shell [data]="group.members.length">Peek</app-text-shell>-->
           Peek
          </span>

        </ion-col>
      </ion-row>

    </div>

  </ng-container>
</ion-content>
<!--
<ion-content > 

  <div class="empty-list" *ngIf="groups && groups.length <= 0">
    <h1>
      <ion-icon name="md-chatbubbles"></ion-icon>
    </h1>
    <p>No new groups yet.</p>
  </div>

  <div *ngIf="groups && groups.length > 0">
    <ion-searchbar [(ngModel)]="searchGroup" placeholder="search"></ion-searchbar>
    <ion-list lines="none">
      <ion-item *ngFor="let group of groups | groupFilter: searchGroup" (click)="viewGroup(group.key)">
        <ion-thumbnail slot="start">
          <img src="{{group.img}}" onError="this.src='./assets/images/default-group.png'">
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h2>{{group.name}}</h2>
          </ion-text>
          <ion-text>
            <p>{{group.date | DateFormat}}</p>
          </ion-text>
        </ion-label>
        <ion-badge slot="end" color="danger" *ngIf="group.unreadMessagesCount > 0">{{group.unreadMessagesCount}}
        </ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-content>-->