<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Groups</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/newgroup">Create New</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="groups && groups.length > 0">
    <div class="listing-item" *ngFor="let group of groups">
      <ion-card (click)="viewGroup(group.key)">
      <div>
        <img src="{{group.img}}">
      </div>
      <ion-card-header>
       <ion-card-title>{{group.name}}</ion-card-title>
     </ion-card-header>
      <ion-card-content>
        {{group.description}}
      </ion-card-content>
      <ion-row class="summary-row">
        <ion-col>
          <ion-icon class="icon" size="small" name="people"></ion-icon>
          <span class="text">
            {{group.membersCount}} 
          </span>
        </ion-col>
        <ion-col>
          <ion-icon class="icon" size="small" name="chatbubbles"></ion-icon>
          <span class="text">
            {{group.postsCount}}
          </span>
        </ion-col>
        <ion-col>
          <ion-icon class="icon" size="small" name="library"></ion-icon>
          <span class="text">
            {{group.resourcesCount}}
          </span>
        </ion-col>
        <ion-col>
          <ion-icon class="icon" size="small"  name="pie-chart"></ion-icon>
          <span class="text">
            {{group.pollsCount}}
          </span>
        </ion-col>
        <ion-col>
          <ion-icon class="icon" size="small"  name="calendar"></ion-icon>
          <span class="text">
            {{group.eventsCount}}
          </span>
        </ion-col>
      </ion-row>
    </ion-card>
    </div>

  </div>
</ion-content>
