:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-color: #00AFFF;
}

.listing-item {
  background-color: var(--page-background);
  
  .summary-row {
    text-align: center;
    padding-bottom: 5px;
    padding-left: 3px;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.text{
  display: inline-block;
  vertical-align: middle;
  padding-left: 3px;
  text-transform: capitalize !important;
}
.message {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  overflow: hidden; 
  text-overflow: ellipsis;
}
