/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
// /* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.chatbox{
  padding:3px;
  border-radius: 5px;
  max-width: 70%;
  min-width: 70%;
  margin: 5px;
}
.chatbox span{
  font-size: 12px;
}
.right{
  border-radius: 5px;
  background: #eee;
  // color: #444;
  float: right;
  text-align: right;
  padding-right: 5px
}
.left{
  border-radius: 5px;
  background: #eee;
  // color:#444;
  float: left;
  text-align: left;
  padding-left: 5px
}

.GroupAction {
  .action-sheet-icon  {
    color: var(--ion-color-secondary) !important;
  }
}

ion-content ion-card{
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 0px;
  color:black
}

ion-card ion-card-header{
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}

ion-thumbnail {
  --border-radius: 50px
}

ion-list-header {
  font-weight: 500px;
  font-size: 18px;
  line-height: 23px;
}

